    <div class="row">
        <div class="col-3 rounded-end-5 p-3 bg-success position-sticky" style="top: 0; height: 100vh; overflow-y: auto;">
            <nav class="navbar ml-3 mb-4 mr-2 navbar-expand-md navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav flex-column">
                        <!-- Área de Login -->
                        <div class="row m-1 mt-4 text-white">
                          <button *appHasRole="'Administrador'">Acceso para Admin</button>
                          <button *appHasRole="'CIP'">Acceso para CIP</button>
                          <div *ngIf="auth.user$ | async as user; else loginTemplate">
                                <h1>
                                  <img class="rounded-5 mr-2" [src]="user.picture" alt="Foto de perfil" width="50" height="50">
                                  {{user.name}}
                                </h1>
                            </div>
                            <ng-template #loginTemplate>
                                <h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                    </svg>
                                    {{username}}
                                </h4>
                                <!--
                                <button type="button" class="btn btn-success" (click)="isLoggedIn = true; hacerAdministrador()" style="background-color: #4CAF50;">Login</button>
                                -->
                            </ng-template>
                        </div>
                        <!-- Fin Área de Login -->
                        <!-- Inicio de la Barra de Navegación -->
                        <div class="row p-5 ">

                          <li class="nav-item  ">
                              <button (click)="resetMenuItems(); menuItems.misCampeonatosMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                      <path
                                          d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935" />
                                  </svg>
                                  Mis campeonatos
                              </button>
                          </li>
                          <li class="nav-item mt-4">
                              <button (click)="resetMenuItems(); menuItems.registroEquiposMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-list-columns-reverse" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                          d="M0 .5A.5.5 0 0 1 .5 0h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 .5m4 0a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10A.5.5 0 0 1 4 .5m-4 2A.5.5 0 0 1 .5 2h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 4h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 8h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 10h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5m-4 2A.5.5 0 0 1 .5 12h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m4 0a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5" />
                                  </svg>
                                  Lista de equipos
                              </button>
                          </li>
                          <li class="nav-item mt-4">
                              <button (click)="resetMenuItems(); menuItems.registroJugadoresMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                      <path
                                          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
                                  </svg>
                                  Lista de jugadores
                              </button>
                          </li>
                          <li class="nav-item mt-4">
                              <button *appHasRole="'Administrador'" (click)="resetMenuItems(); menuItems.registroUsuariosMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                      <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                      <path
                                          d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z" />
                                  </svg>
                                  Gestión de usuarios
                              </button>
                          </li>
                          <li class="nav-item mt-4">
                              <button (click)="resetMenuItems(); menuItems.misCampeonatosQueSigoMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                      <path
                                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                  </svg>
                                  Campeonatos favoritos
                              </button>
                          </li>
                          <li class="nav-item mt-4">
                              <button (click)="resetMenuItems(); menuItems.registroJugadoresMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                      <path
                                          d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                  </svg>
                                  Arbitraje
                              </button>
                          </li>
                          <li class="nav-item mt-4">
                              <button (click)="resetMenuItems(); menuItems.registroJugadoresMenu= true" class="nav-link text-white list-group-item-action list-group-item-success"
                                              aria-current="page" href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                      <path
                                          d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793zM1 9V6h14v3zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5m0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5m0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5" />
                                  </svg>
                                  Conversaciones
                              </button>
                          </li>
                          <div *ngIf="auth.user$ | async as user; else loginTemplate">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn " (click)="LogoutwithAuth0()"
                                    style="background-color: #4CAF50;">Cerrar
                                    Sesion</button>
                            </div>
                        </div>
                      </div>
                      <button *appHasRole="'CIP'" (click)="logout()">Desloguear</button>
                        <!-- Fin de la Barra de Navegación -->
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-8 p-3 justify-content-center align-items-start">


            <!-- Arregar posicion del boton-->
            <div class="row">
                <div *ngIf="menuItems.misCampeonatosMenu">
                    <app-lista-campeonatos [esAdministrador]="true"/>
                </div>
                <div *ngIf="menuItems.registroEquiposMenu">
                    <app-lista-equipos [esAdministrador]="true"/>
                </div>
                <div *ngIf="menuItems.registroJugadoresMenu">
                    <app-gestion-jugadores/>
                </div>
                <div *ngIf="menuItems.registroUsuariosMenu">
                    <app-gestion-usuarios [esAdministrador]="true"/>
                </div>
                <div *ngIf="menuItems.misCampeonatosQueSigoMenu">
                    <app-lista-campeonatos-sigo [esAdministrador]="true"/>
                </div>
            </div>
        </div>
    </div>


