.login-container {
    position: relative;
    z-index: 1;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo blanco con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

li{
    padding: 0%;
}

.nav-link{
    font-size: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button {
    background-color: #198754;
}

button:hover{
    background-color: #bdeea683; 
}

li:hover{
    background-color: #bdeea683;
    border-radius: 8px
}

.row .m-1 .text-white{
    padding-bottom: 0%;
    margin-bottom: 0%;
}

a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
}
