<div *ngIf="visible" class="confirmation-popup alert alert-warning">
  <div class="d-flex align-items-center">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <span>{{ message }}</span>
  </div>
  <div class="mt-2 text-center">
    <button class="btn btn-secondary me-2" (click)="cancel()">No</button>
    <button class="btn btn-primary" (click)="confirm()">Sí</button>
  </div>
</div>
