<div *ngIf="esAdministrador">
    <div type="button bg-success" class=" btn-lg ml-3 text-white px-5 rounded-5 border-success bg-success">
        Campeonatos Favoritos
    </div>
</div>
<div *ngIf="nuevoCampeonatoOpen">
    <div class="row mt-4">
        <div class="col-6 mb-3 mb-sm-0">
            <div class="card" style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-trophy" viewBox="0 0 16 16">
                            <path
                                d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1q.01.775.056 1.469c.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.5.5 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667q.045-.694.056-1.469z" />
                        </svg>
                        Campeonato unico
                    </h5>
                    <p class="card-text">Campeonato con una sola modalidad y una sola categoria</p>
                    <button type="button" class="btn btn-success" (click)="openAddCampeonatoDialog()">
                        Seleccionar
                    </button>

                </div>

            </div>

        </div>

        <div class="col-6">
            <div class="card" style="height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-grid-fill" viewBox="0 0 16 16">
                            <path
                                d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z" />
                        </svg>
                    </h5>
                    <p class="card-text">
                        Campeonato con mas de una categoria. Por ejemplo, divisiones por edad,
                        genero, deportes u otras categorias
                    </p>
                    <!--Boton Sustitutorio temporal-->
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Seleccionar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col">
        <div class="row justify-content-center search-add-container mt-4">
            <div class="col-md d-flex align-items-center mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="search-icon">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Buscar Campeonato" [(ngModel)]="searchTerm"
                        (ngModelChange)="filterCampeonatos()">
                </div>
            </div>
        </div>

        <!--LISTA DE CAMPEONATOS-->
        <div class="row mt-3">
            <h3>Campeonatos que sigo:</h3>
            <ul class=" list-group list-group-flush list-group-item-action m-3">
                <div *ngFor="let campeonato of filteredCampeonatos; let i = index;">
                <!--<div *ngFor="let campeonatoSeg of campeonatosSeguidos; let i = index;">-->
                    <div class="row" *ngIf="isCampeonatoFav(campeonato)" >
                        <div class="col-10" >
                            <button (click)="navigateToMenu2(campeonato.id || 0)" type="button"
                                class="list-group-item list-group-item-action" id="{{campeonato.id}}">
                                <img src="../../assets/logoEquipo.jpg" class="mr-3" width="40" height="40">
                                {{campeonato.tituloCampeonato}}
                                <p></p>

                            </button>

                        </div>

                        <div *ngIf="true" class="col">
                            <div *ngIf="campeonato.tipoCampeonato == 1"  class="d-inline-block ">
                                <img src="../../assets/iconoFutbol.png" alt="Fútbol" width="30" height="30">
                            </div>
                            <div *ngIf="campeonato.tipoCampeonato == 2"  class="d-inline-block">
                                <img  src="../../assets/iconoVoley.png" alt="Voleibol" width="30" height="30">
                            </div>
                            <div class="container-buttons-card d-inline-block">
                                <button class="favorite" (click)="toggleFavCamp(campeonato) ">
                                    <i
                                        class="fa-regular fa-heart"
                                        id="favorite-regular"
                                        *ngIf="!isCampeonatoFav(campeonato)"
                                    ></i>
                                    <i
                                        class="fa-solid fa-heart"
                                        id=".active"
                                        *ngIf="isCampeonatoFav(campeonato)"
                                    ></i>
                                </button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </ul>
        </div>


        <!--LISTA DE CAMPEONATOS CON CATEGORIAS-->
        <div class="row mt-3">
            <h3>Campeonatos con Categorias:</h3>
            <ul class="list-group list-group-flush list-group-item-action m-3">
                <div *ngFor="let campeonatoCategorias of filteredCampeonatosWithCategories; let i = index">
                    <div class="row" *ngIf="isCampeonatoFavCategorias(campeonatoCategorias)">
                        <div class="col-10">
                            <button (click)="navigateToMenuCampeonatoCategorias(campeonatoCategorias.id || 0)" type="button"
                                class="list-group-item list-group-item-action ">
                                <img src="../../assets/logoEquipo.jpg" class="mr-3" width="40" height="40">
                                {{campeonatoCategorias.tituloCampeonato}}

                            </button>

                        </div>
                        <div *ngIf="true" class="col">
                            
                            <img class=" d-inline-block" src="../../assets/iconoCategorias.png" alt="Fútbol" width="30"
                            height="30"> 
                            
                            <div class="container-buttons-card d-inline-block">
								<button class="favorite" (click)="toggleFavCampCategorias(campeonatoCategorias) ">
                                    <i
                                        class="fa-regular fa-heart"
                                        id="favorite-regular"
                                        *ngIf="!isCampeonatoFavCategorias(campeonatoCategorias)"
                                    ></i>
                                    <i
                                        class="fa-solid fa-heart"
                                        id=".active"
                                        *ngIf="isCampeonatoFavCategorias(campeonatoCategorias)"
                                    ></i>
                                </button>
							</div>
                        </div>
                    </div>
                </div>
            </ul>
        </div> 



        <!-- Dialog Template 
        <ng-template #campeonatoDialog class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">{{ isEditing ? 'Editar Campeonato' : 'Añadir Campeonato' }}</h1>
                        <button type="button" class="close" (click)="closeDialog()">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="campeonatoForm" class="form-horizontal">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="tituloCampeonato">Titulo del Campeonato*</label>
                                    <input id="tituloCampeonato" type="text" class="form-control"
                                        formControlName="tituloCampeonato" required>
                                    <div *ngIf="campeonatoForm.controls['tituloCampeonato'].invalid && campeonatoForm.controls['tituloCampeonato'].touched"
                                        class="text-danger">
                                        El título es obligatorio.
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="organizadorNombre">Nombre del Organizador*</label>
                                    <input id="organizadorNombre" type="text" class="form-control"
                                        formControlName="organizadorNombre" required>
                                        <div *ngIf="campeonatoForm.controls['organizadorNombre'].invalid && campeonatoForm.controls['organizadorNombre'].touched"
                                        class="text-danger">
                                        El nombre del organizador es obligatorio.
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="tituloHonorifico">Titulo Honorifico</label>
                                    <input id="tituloHonorifico" type="text" class="form-control"
                                        formControlName="tituloHonorifico">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="fechaInicio">Fecha de Inicio*</label>
                                    <input id="fechaInicio" type="date" class="form-control"
                                        formControlName="fechaInicio" required>
                                    <div *ngIf="campeonatoForm.controls['fechaInicio'].invalid && campeonatoForm.controls['fechaInicio'].touched"
                                        class="text-danger">
                                        La fecha de inicio es obligatorio
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="fechaFin">Fecha de Finalizacion*</label>
                                    <input id="fechaFin" type="date" class="form-control" formControlName="fechaFin"
                                        required>
                                    <div *ngIf="campeonatoForm.controls['fechaFin'].invalid && campeonatoForm.controls['fechaFin'].touched"
                                        class="text-danger">
                                        La fecha de finalizacion es obligatorio
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="organizadorNumero">Teléfono del Organizador</label>
                                    <input id="organizadorNumero" type="text" class="form-control" formControlName="organizadorNumero">
                                    <div *ngIf="campeonatoForm.controls['organizadorNumero'].invalid && campeonatoForm.controls['organizadorNumero'].touched" class="text-danger">
                                      <div *ngIf="campeonatoForm.controls['organizadorNumero'].errors?.['pattern']">El teléfono debe ser un número de 9 dígitos.</div>
                                    </div>
                                  </div>
                                <div class="form-group col-md-6">
                                    <label for="organizadorEmail">Email del organizador*</label>
                                    <input id="organizadorEmail" type="email" class="form-control" formControlName="organizadorEmail" required>
                                    <div *ngIf="campeonatoForm.controls['organizadorEmail'].invalid && campeonatoForm.controls['organizadorEmail'].touched" class="text-danger">
                                      <div *ngIf="campeonatoForm.controls['organizadorEmail'].errors?.['required']">El email es obligatorio.</div>
                                      <div *ngIf="campeonatoForm.controls['organizadorEmail'].errors?.['email']">El formato del email es incorrecto.</div>
                                    </div>
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12" *ngIf="!isEditing">
                                    <label for="tipoCampeonato">Tipo de Campeonato*</label>
                                    <select id="tipoCampeonato" class="form-select" formControlName="tipoCampeonato"
                                        aria-label="Seleccionar tipo de campeonato" required>
                                        <option value="" disabled selected>Selecciona una opción</option>
                                        <option value="1">Fútbol</option>
                                        <option value="2">Voleibol</option>
                                    </select>
                                    <div *ngIf="campeonatoForm.controls['tipoCampeonato'].invalid && campeonatoForm.controls['tipoCampeonato'].touched"
                                        class="text-danger">
                                        El tipo de campeonato es obligatorio
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-success" [disabled]="!campeonatoForm.valid"
                            (click)="saveCampeonato()">
                            Guardar
                        </button>

                        <button *ngIf="isEditing" type="button" class="btn btn-danger" (click)="deleteCampeonato()">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <app-confirmation #confirmation [message]="'Campeonato Guardado'" [type]="'info'"></app-confirmation>
    -->
        
        <!-- Dialog Template para seleccionar equipos 
        <ng-template #seleccionarEquiposDialog class="modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Modificar Equipos del Campeonato</h1>
                        <button type="button" class="close" (click)="closeSeleccionarEquiposDialog()">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="search">Buscar Equipos</label>
                                    <input type="text" class="form-control" placeholder="Buscar..."
                                        [(ngModel)]="equipoSearchTerm" (ngModelChange)="filterEquipos()"
                                        name="equipoSearchName" />
        
                                        
                                    <div class="list-group mt-2" style="max-height: 200px; overflow-y: auto;">
                                        <div *ngFor="let equipo of filteredEquipos">
                                            <button type="button" class="list-group-item list-group-item-action"
                                                (click)="addToSelected(equipo)">
                                                {{ equipo.nombre }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
        
                                
                                <div class="form-group col-md-6">
                                    <label>Equipos Seleccionados</label>
                                    <ul class="list-group" style="max-height: 200px; overflow-y: auto;">
                                        <li *ngFor="let equipo of selectedEquipos"
                                            class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ equipo.nombre }}
                                            <button type="button" class="btn btn-danger btn-sm"
                                                (click)="removeFromSelected(equipo)">
                                                <i *ngIf="!equiposJugaron.get(equipo.id); else playedIcon"
                                                    class="bi bi-trash3-fill"></i>
                                                <ng-template #playedIcon>
                                                    <i class="bi bi-shield-x"></i>
                                                </ng-template>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="addEquiposToCampeonato()">Añadir Equipos</button>
                        <button type="button" class="btn btn-secondary"
                            (click)="closeSeleccionarEquiposDialog()">Cerrar</button>
                    </div>
                </div>
            </div>
        </ng-template>
    -->


    </div>