<div class="background-container"></div>
<div class="login-container">
    <h2>REGISTER - ADMIN</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group">
            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Apellidos:</label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="cellphone">Celular (Opcional):</label>
            <input type="text" id="cellphone" formControlName="cellphone">
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Repita la Contraseña:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
        </div>
        <button type="submit">REGISTRAR</button>
    </form>
</div>