<!--Muestra solo datos del equipo, es el que aparece primero-->
<div class="team-card">  
    <img [src]="team.image" alt="Team Image" class="team-image">
      <div class="team-info">
        <h2>{{ team.name }}</h2>
        <div class="team-stats">
            <p>Juego(s): {{ team.draws }} </p> 
            <p>Ganado(s): {{ team.wins }} </p> 
            <p>Perdido(s): {{ team.losses }}</p>
        </div> 
      </div>
  </div>
    