<div class="Clasificación-content">
    <div class="header">
    <div class="left">
        <div class="styled-select" (change)="onPhaseChange($event)">
          <select >
            <option value="1">1ra Fase</option>
            <option value="2">2da Fase</option>
          </select>
        </div>
      </div>
      
      <!--(change)="onPhaseChange($event)"--> 

      <!--Se va a editar el boton temporalmente -->
      <!--<button mat-icon-button (click)="openMenuCampeonato()" [ngClass]="{'admin-mode': selectedView === 'admin', 'user-mode': selectedView === 'user'}">
        <mat-icon>add</mat-icon>
      </button>
      Se va a editar el boton temporalmente -->

    <div class="center custom-div">
        <!--
        <button mat-icon-button  data-bs-toggle="modal" data-bs-target="#exampleModal">
          <mat-icon>add</mat-icon>
        </button>
        -->
    </div>

       <!-- Modal boton-->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creacion de Campeonato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-menu-campeonato/>
            </div>
        </div>
        </div>
    </div>
    <!--Se agregaron modificaciones temporales para mostra datos-->
  </div>

    <ng-container *ngIf="selectedPhase === '1'; else phase2Content">
      <div *ngIf="equiposEnCampeonato.length > 5; else allTeams">
        <h3 style="text-align: center;
                  font-size: 20px;
                  color: #04167a;
                  font-weight:900;">Clasificación por Grupos</h3>
    

        <div *ngFor="let group of groups">
          <h3 style="text-align: center;
                  font-size: 15px;
                  color: #04167a;
                  font-weight:900;
                  margin: 16px 0px 16px;">{{ group.name }}</h3>
          <div id="contenedor">
            <table id="miTabla" class="tabla tabla-clasificacion">
              <!-- Cabecera de la tabla para clasificacion por grupos-->
              <tr>
                <th class="columna-estatica header-estatica-pos" matTooltip="Posición">Pos</th>
                <th class="columna-estatica header-estatica-eq">EQUIPOS</th>
                <th class="head-dinamica" matTooltip="Puntos">Pts</th>
                <th class="head-dinamica" matTooltip="Juegos">J</th>
                <th class="head-dinamica" matTooltip="Ganados">G</th>
                <th class="head-dinamica" matTooltip="Perdidos">P</th>
                <th class="head-dinamica" matTooltip="Sets a favor">F</th>
                <th class="head-dinamica" matTooltip="Sets en contra">C</th>
                <th class="head-dinamica" matTooltip="Diferencia de sets">DS</th>
                <th class="head-dinamica" matTooltip="Diferencia de puntos">DP</th>
              </tr>
  
              <!-- Fila -->
              <tr *ngFor="let element of group.teams" (click)="onRowClick(element)">
                <td class="columna-estatica fila-estatica-pos">{{ element.position }}</td>
                <td class="columna-estatica fila-estatica-eq" [class.clasificado]="isTeamClasificado(element)">
                  <div><img src="/assets/team1-icon-voley.png" alt="Equipo" width="40" height="40"></div>
                  <div>{{ element.team }}</div>
                </td>
                <td class="dinamica">{{ element.pts }}</td>
                <td class="dinamica">{{ element.j }}</td>
                <td class="dinamica">{{ element.g }}</td>
                <td class="dinamica">{{ element.p }}</td>
                <td class="dinamica">{{ element.f }}</td>
                <td class="dinamica">{{ element.c }}</td>
                <td class="dinamica">{{ element.ds }}</td>
                <td class="dinamica">{{ element.dp }}</td>
              </tr>
            </table> 
          </div>
        </div>
      </div>


      <ng-template #allTeams>
        <h3 style="text-align: center;
                    font-size: 20px;
                    color: #04167a;
                    font-weight:900;">Clasificación</h3>

        <div id="contenedor">
          <table id="miTabla" class="tabla">
            <!-- Cabecera de la tabla -->
            <tr>
                <th class="columna-estatica header-estatica-pos" matTooltip="Posición">Pos</th>
                <th class="columna-estatica header-estatica-eq">EQUIPOS</th>
                <th class="head-dinamica" matTooltip="Puntos">Pts</th>
                <th class="head-dinamica" matTooltip="Juegos">J</th>
                <th class="head-dinamica" matTooltip="Ganados">G</th>
                <th class="head-dinamica" matTooltip="Perdidos">P</th>
                <th class="head-dinamica" matTooltip="Sets a favor">F</th>
                <th class="head-dinamica" matTooltip="Sets en contra">C</th>
                <th class="head-dinamica" matTooltip="Diferencia de sets">DS</th>
                <th class="head-dinamica" matTooltip="Diferencia de puntos">DP</th>
            </tr>

            <!-- Fila -->
            <tr *ngFor="let element of allTeamsDataSource" (click)="onRowClick(element)">
                <td class="columna-estatica fila-estatica-pos">{{ element.position }}</td>
                <td class="columna-estatica fila-estatica-eq">
                  <div><img src="/assets/team1-icon-voley.png" alt="Equipo" width="40" height="40"></div>
                  <div>{{ element.team }}</div>
                </td>
                <td class="dinamica">{{ element.pts }}</td>
                <td class="dinamica">{{ element.j }}</td>
                <td class="dinamica">{{ element.g }}</td>
                <td class="dinamica">{{ element.p }}</td>
                <td class="dinamica">{{ element.f }}</td>
                <td class="dinamica">{{ element.c }}</td>
                <td class="dinamica">{{ element.ds }}</td>
                <td class="dinamica">{{ element.dp }}</td>
            </tr>
          </table>    
        </div>
      </ng-template>
    </ng-container>

    
    <!-- FASE 2 -->
    <ng-template #phase2Content>
      <div id="contenedor">
        <!--<app-vsemifinales [equipos]="equiposClasificados"></app-semifinales>-->
        <!--<app-voctavos  [equipos]="equiposClasificados"></app-octavos>-->
        <!--<app-vsemifinales></app-vsemifinales>-->
        <!--<app-vfinales *ngIf=" equiposEnCampeonato.length <= 4" [equipos]="equiposClasificados"></app-vfinales>-->

        <h3 *ngIf="!faseFinalizada" style="color: #4CAF50;font-size: 16px;
          font-weight: 900; text-align: center;"> Debes iniciar la fase de eliminatorias</h3>

        <app-vsemifinales *ngIf="faseFinalizada && equiposEnCampeonato.length > 5 && equiposEnCampeonato.length <= 9" [equipos]="equiposClasificados"></app-vsemifinales>
        <app-vcuartos  *ngIf="faseFinalizada && equiposEnCampeonato.length > 9 && equiposEnCampeonato.length <= 20" [equipos]="equiposClasificados"></app-vcuartos>
        <app-voctavos  *ngIf=" faseFinalizada && equiposEnCampeonato.length > 20" [equipos]="equiposClasificados"></app-voctavos>
      </div>        
    </ng-template>
</div>