/*----------Esta cosa es del boton de editar--------*/
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  button mat-icon {
    color: #333333; /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
  }
  
  button:hover mat-icon {
    color: #1565c0; /* Cambia el color del icono al pasar el cursor */
  }
  
  button:active {
    transform: scale(0.9); /* Reduce el tamaño del botón al presionarlo */
  }
  /*----------Div de la tabla--------*/
  .info-tab {
    background: rgba(255, 255, 255, 0.7);
    align-items: center;
    
    border-radius: 20px;
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    overflow: auto;
  }
  /*----------Editar la tabla--------*/
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; /* Asegura que la tabla esté pegada a los bordes del contenedor */
  }
  
  th, td {
    border-bottom: 2px solid #cacaca;
    padding: 10px; /* Ajusta el padding dentro de las celdas */
  }
  
  
  td:nth-child(1) {
    width: 350px; /* Ancho específico para la primera columna */
    text-align: left;
    color: #2230b3;
  }
  
  .player-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
  }
  .player-name{
    margin-bottom: 0px;
    white-space: nowrap;
  }
  
  .player-number{
    color: #9c9494;
    margin: 0px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 1px;
    
  }
  .player-position {
      margin: 0; /* Elimina el margen predeterminado de los párrafos */
      color: rgb(157 149 149);
      white-space: nowrap;
      font-weight: 600;
      /* Otros estilos personalizados aquí */
  }
  
  
  th {
    background-color: #ffffff;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  tr:hover {
    background-color: #eceaea;
  }
  
  .player-icon {
    width: 35px; /* Ajusta el tamaño según tus preferencias */
    margin-right: 10px; /* Espacio entre el icono y el texto */
    border-radius: 50%;
  }