<!--Esta el la tabla de jugadores-->
<!--Todos los datos estan en el componente principal que es equipo-vista.component-->
<div class="info-tab">
    <table>
        <thead>
          <tr>
            <th matTooltip="Jugadores">Jugadores</th>
            <th matTooltip="Puntos">P</th>
            <th matTooltip="Juegos">J</th>
            <!--<th matTooltip="Bloqueos">BLO</th>-->
            <!--<th matTooltip="ACE">ACE</th>-->
            <!--<th matTooltip="Puntos de Ataque">P.AT</th>-->
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players">
            <td>
              <div class="player-details">
                <img src="{{ player.icon }}" alt="Icono de jugador" class="player-icon">
                <p class="player-name">{{player.name}}</p> 
                <p class="player-number">{{ player.nrocamiseta }}</p>
                <p style="margin-bottom: 0px; color: black; padding-inline: 2px;">|||</p>
                <p class="player-position">{{  player.posicion ? player.posicion : 'Sin posición'}}</p>
              </div>
            </td>
              
            <td>{{ player.goals }}</td>
            <td>{{ player.matches }}</td>
            <!--<td>{{ player.yellowCards }}</td>-->
            <!--<td>{{ player.redCards }}</td>-->
            <!--<td>{{ player.blueCards }}</td>-->
          </tr>
        </tbody>
      </table>
  </div>
    