<div class="Clasificación-content">
      <div class="header">
      <div class="left">
          <div class="styled-select">
            <select (change)="onPhaseChange($event)">
              <option value="1">1ra Fase</option>
              <option value="2">2da Fase</option>
            </select>
          </div>
        </div>
        
        <!--Se va a editar el boton temporalmente -->
        <!--<button mat-icon-button (click)="openMenuCampeonato()" [ngClass]="{'admin-mode': selectedView === 'admin', 'user-mode': selectedView === 'user'}">
          <mat-icon>add</mat-icon>
        </button>
        Se va a editar el boton temporalmente -->

      <div class="center custom-div">
          <!--
          <button mat-icon-button  data-bs-toggle="modal" data-bs-target="#exampleModal">
            <mat-icon>add</mat-icon>
          </button>
          -->
      </div>

         <!-- Modal boton-->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Creacion de Campeonato</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <app-menu-campeonato/>
              </div>
          </div>
          </div>
      </div>
      <!--Se agregaron modificaciones temporales para mostra datos-->
        
      
    </div>
      <ng-container *ngIf="selectedPhase === '1'; else phase2Content">
        <!--En caso los equpos en campeonato sean mayores a 5 carga la interfaz de grupos-->
        <div *ngIf="equiposEnCampeonato && equiposEnCampeonato.length > 5; else allTeams">
          <h3 style="text-align: center;
                    font-size: 20px;
                    color: #04167a;
                    font-weight:900;">Clasificación por Grupos</h3>
          
          <!-- Mostrar mensaje si no hay equipos asignados a grupos -->
          <div *ngIf="groups.length === 0" style="text-align: center;color: #4CAF50;font-size: 17px;margin-top: 20px;font-weight: 900;">
            Necesitas asignar el grupo a cada equipo. Regresa a Inicio.
          </div>

          <div *ngFor="let group of groups">
            <h3 style="text-align: center;
                    font-size: 15px;
                    color: #04167a;
                    font-weight:900;
                    margin: 16px 0px 16px;">{{ group.name }}</h3>
            <div id="contenedor">
              <table id="miTabla" class="tabla tabla-clasificacion">
                <!-- Cabecera de la tabla para clasificacion por grupos-->
                <tr>
                    <th class="columna-estatica header-estatica-pos" matTooltip="Posición">Pos</th>
                    <th class="columna-estatica header-estatica-eq">EQUIPOS</th>
                    <th class="head-dinamica" matTooltip="Puntos">Pts</th>
                    <th class="head-dinamica" matTooltip="Juegos">J</th>
                    <th class="head-dinamica" matTooltip="Ganados">G</th>
                    <th class="head-dinamica" matTooltip="Empatados">E</th>
                    <th class="head-dinamica" matTooltip="Perdidos">P</th>
                    <th class="head-dinamica" matTooltip="Goles a Favor">GF</th>
                    <th class="head-dinamica" matTooltip="Goles en contra">GC</th>
                    <th class="head-dinamica" matTooltip="Diferencia de Goles">DIF</th>
                </tr>
    
                <!-- Fila -->
                <tr *ngFor="let element of group.teams" (click)="onRowClick(element)">
                    <td class="columna-estatica fila-estatica-pos">{{ element.position }}</td>
                    <td class="columna-estatica fila-estatica-eq" [class.clasificado]="isTeamClasificado(element)">
                        <div><img src="/assets/team1-icon.png" alt="Equipo" width="40" height="40"></div> 
                        <div>{{ element.team }}</div>
                    </td>
                    <td class="dinamica">{{ element.pts }}</td>
                    <td class="dinamica">{{ element.j }}</td>
                    <td class="dinamica">{{ element.g }}</td>
                    <td class="dinamica">{{ element.e }}</td>
                    <td class="dinamica">{{ element.p }}</td>
                    <td class="dinamica">{{ element.gf }}</td>
                    <td class="dinamica">{{ element.gc }}</td>
                    <td class="dinamica">{{ element.dif }}</td>
                </tr>
              </table> 
            </div>
          </div>
        </div>
        <!--En caso los equpos en campeonato son 5 o menos carga la interfaz todos contra todos-->
        <ng-template #allTeams>
          <h3 style="text-align: center;
                    font-size: 20px;
                    color: #04167a;
                    font-weight:900;">Clasificación</h3>
          <div id="contenedor">

            <table id="miTabla" class="tabla tabla-clasificacion">
              <!-- Cabecera de la tabla  para clasificacion todos contra todos-->
              <tr>
                  <th class="columna-estatica header-estatica-pos" matTooltip="Posición">Pos</th>
                  <th class="columna-estatica header-estatica-eq">EQUIPOS</th>
                  <th class="head-dinamica" matTooltip="Puntos">Pts</th>
                  <th class="head-dinamica" matTooltip="Juegos">J</th>
                  <th class="head-dinamica" matTooltip="Ganados">G</th>
                  <th class="head-dinamica" matTooltip="Empatados">E</th>
                  <th class="head-dinamica" matTooltip="Perdidos">P</th>
                  <th class="head-dinamica" matTooltip="Goles a Favor">GF</th>
                  <th class="head-dinamica" matTooltip="Goles en contra">GC</th>
                  <th class="head-dinamica" matTooltip="Diferencia de Goles">DIF</th>
              </tr>
  
              <!-- Fila -->
              <tr *ngFor="let element of allTeamsDataSource" (click)="onRowClick(element)">
                  <td class="columna-estatica fila-estatica-pos">{{ element.position }}</td>
                  <td class="columna-estatica fila-estatica-eq">
                      <div><img src="/assets/team1-icon.png" alt="Equipo" width="40" height="40"></div> 
                      <div>{{ element.team }}</div>
                  </td>
                  <td class="dinamica">{{ element.pts }}</td>
                  <td class="dinamica">{{ element.j }}</td>
                  <td class="dinamica">{{ element.g }}</td>
                  <td class="dinamica">{{ element.e }}</td>
                  <td class="dinamica">{{ element.p }}</td>
                  <td class="dinamica">{{ element.gf }}</td>
                  <td class="dinamica">{{ element.gc }}</td>
                  <td class="dinamica">{{ element.dif }}</td>
              </tr>
            </table>    
          </div>
        </ng-template>
      </ng-container>
      
       
      <ng-template #phase2Content>
        <div id="contenedor">
          <!--<app-octavos></app-octavos>-->
          <!--<app-cuartos></app-cuartos>-->
          <!--<app-semifinales></app-semifinales>-->
          <!--<app-finales *ngIf=" equiposEnCampeonato.length <= 4" [equipos]="equiposClasificados"></app-finales>-->

          <h3 *ngIf="!faseFinalizada" style="color: #4CAF50;font-size: 16px;
          font-weight: 900; text-align: center;"> Debes iniciar la fase de eliminatorias</h3>

          <app-semifinales *ngIf="faseFinalizada && equiposEnCampeonato.length > 5 && equiposEnCampeonato.length <= 9" [equipos]="equiposClasificados"></app-semifinales>
          <app-cuartos  *ngIf="faseFinalizada && equiposEnCampeonato.length > 9 && equiposEnCampeonato.length <= 20" [equipos]="equiposClasificados"></app-cuartos>
          <app-octavos  *ngIf=" faseFinalizada && equiposEnCampeonato.length > 20" [equipos]="equiposClasificados"></app-octavos>
      
        </div>
      </ng-template>
</div>