/*Estilos de la tabla 8vos, 4tos y demas*/

.clasificado {
  border-right: groove;
  border-color: palegreen;
}

.linea-final{
  border-width:3px 0 0;
  border-style:"solid";
  border-color: #4CAF50;
}

.linea-enmedio{
  border-width:3px 0 3px;
  border-style:"solid";
  border-color: #4CAF50;
}
.lineas{
  border:3px solid;
  border-left:0;
  color:#4CAF50;
}
.div-equipos{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cuadro-equipo{
  border:1px solid #aaa;
  background:#f9f9f9;
  padding:0 .6ex
}
.cuadro-goles{
  border:1px solid #aaa;
  background:#f9f9f9;
  text-align:center;
  padding-inline:5px;
}
.cabecera-eliminatorias{
  background:#04167a;
  text-align:center;
  border:1px solid #04167a; 
  color: white;
  white-space: nowrap;
  padding-inline: 70px;
}


/*Estilo de la tabla*/
table, th, td {                 
  border-collapse: collapse;
}

th, td {
  padding-inline: 3px;
}

#contenedor {
  width: 100%;
  overflow: auto;
}
.columna-estatica {
  background-color: white;
}
.tabla {
  /*table-layout: fixed;*/
  width: 100%;
  font-size: 14px;
  border-spacing: 0px 9px;
  border-collapse: separate;
}
.dinamica {
  width: auto;
  background-color: white;
  padding: 0px;
  text-align: center;
}

.head-dinamica{
  width: auto;
  padding-inline: 10px;
  text-align: center;
}

.header-estatica-pos {
  background-color: #f0f0f0;
  color: #04167a;
  width: 60px;
  height: 40px;
  padding-inline: 10px;
  text-align: center;
}
.header-estatica-eq {
  background-color: #f0f0f0;
  color: #04167a;
  padding-inline: 80px;
}

.fila-estatica-pos {
background-color: #04167a;
color: white;
  padding: 0px;
  text-align: center;
}

.fila-estatica-eq {
  text-align: left;
  color: #04167a;
  display:flex;
  align-items: center;
  padding: 0px;
  text-align: center;
}

.fila-estatica-eq:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}


/* Estilo del select */
.styled-select select {
  /*width: 100%;*/
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 100px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
}

/* Estilos para contenido de clasificación */
.Clasificación-content {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del encabezado */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.header .left,
.header .center,
.header .right {
    flex: 1;
}

.header .center {
  text-align: center;
}

.header .right {
  text-align: right;
}


/* Estilo del toggle personalizado */
.custom-slide-toggle {
  color: #090b0e;
  font-size: 0px;
}

.custom-slide-toggle .mat-slide-toggle-bar,
.custom-slide-toggle .mat-slide-toggle-thumb,
.custom-slide-toggle .mat-slide-toggle-checked .mat-slide-toggle-thumb,
.custom-slide-toggle .mat-slide-toggle-checked .mat-slide-toggle-bar {
  background-color: #000000;
}


/* Estilo para botón "add" */

.custom-div{
  
  text-align: center;
}

button {
  background-color: #04167a;
  color: white;
}

button mat-icon {
  color: white;
}


/* Estilo para la tabla */
.tabla-clasificacion {
  width: 100%; /* Ancho total de la tabla */
  background-color: rgb(240, 239, 239); /* Color de fondo de la tabla */
  table-layout: auto; /* Permite a las columnas ajustar su tamaño según el contenido */
}





/* Estilo para el toggle de clasificación por grupo */
.toggle-container {
  display: flex;
  justify-content: flex-end;
  
  border-color: #000000;
}

.toggle-text {
  font-weight: bold;
  margin-right: 11px; /*10px*/
  font-size: 14px;
  color: #333;
}

/* Estilo para fase 2 */
.bracket {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.round {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  margin: 50px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.match span {
  font-weight: bold;
}

/* Conectores para el bracket */
.connector-left, .connector-right {
  width: 20px;
  height: 2px;
  background-color: green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.connector-left {
  left: 100%;
}

.connector-right {
  right: 100%;
}

/* Estilo para líneas verticales */
.vertical-line, .vertical-line-inverse {
  position: relative;
  width: 2px;
  background-color: green;
  margin-left: 20px;
}

.vertical-line::before, .vertical-line::after,
.vertical-line-inverse::before, .vertical-line-inverse::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: green;
}

.vertical-line::before {
  height: 72px;
  top: 0px;
}

.vertical-line::after {
  height: 0px;
  bottom: -35px;
}

.vertical-line-inverse::before {
  height: 0px;
  top: 0px;
}

.vertical-line-inverse::after {
  height: 72px;
  bottom: -2px;
}

/* Media queries para responsividad */
@media (max-width: 1200px) {
  .Clasificación-content.user-mode {
    max-width: 900px;
    margin-right: 0;
  }

  .team-column {
    min-width: 200px;
  }
}

@media (max-width: 768px) {
  .Clasificación-content.admin-mode{
    max-width: 100%;
    padding: 20px;
  }

  .match {
    width: 100%;
  }

  button{
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .styled-select select {
    font-size: 0.875rem;
    padding: 0.4rem;
  }

  .toggle-text {
    font-size: 12px;
    margin-right: 8px;
  }
}

.color-letra-Pos{
  color: #000000;
}