<div class="container mt-4">
  <h1 class="text-success mb-4">Usuarios</h1>
  <div class="row mb-4">
      <div class="col-md-8 mb-3 mb-md-0">
          <div class="input-group">
              <span class="input-group-text bg-white">
                  <i class="bi bi-search"></i>
              </span>
              <input type="text" class="form-control" placeholder="Buscar usuario" [(ngModel)]="searchTerm" (ngModelChange)="filterUsuarios()">
          </div>
      </div>
      <div class="col-md-4">
          <button class="btn btn-success w-100" type="button" (click)="openAddUserDialog()" *ngIf="esAdministrador">
              <i class="bi bi-plus-circle me-2"></i> Añadir un usuario
          </button>
      </div>
  </div>
  <p class="text-muted">Total: {{ filteredUsuarios.length }}</p>
  <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let usuario of filteredUsuarios" (click)="openEditUserDialog(usuario)">
          <span>{{ usuario.nombre }} {{ usuario.apellidos }}</span>
          <span class="badge bg-primary rounded-pill">{{ usuario.rol }}</span>
      </li>
  </ul>
</div>

<!-- Modal para Añadir/Editar Usuario -->
<ng-template #userDialog>
    <div class="modal-header">
      <h5 class="modal-title">{{ isEditing ? 'Editar Usuario' : 'Añadir Usuario' }}</h5>
      <button type="button" class="btn-close btn-close-white" (click)="closeDialog()"></button>
    </div>
      <div class="modal-body">
        <form [formGroup]="userForm" class="row g-3">
          <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese su Nombre">
            <div *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.invalid" class="text-danger mt-1">
              <small *ngIf="userForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" formControlName="apellidos" placeholder="Ingrese sus Apellidos">
            <div *ngIf="userForm.get('apellidos')?.touched && userForm.get('apellidos')?.invalid" class="text-danger mt-1">
              <small *ngIf="userForm.get('apellidos')?.hasError('required')">Los apellidos son obligatorios.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento">
            <div *ngIf="userForm.get('fechaNacimiento')?.touched && userForm.get('fechaNacimiento')?.invalid" class="text-danger mt-1">
              <small *ngIf="userForm.get('fechaNacimiento')?.hasError('required')">La fecha de nacimiento es obligatoria.</small>
            </div>

          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingrese su correo electronico">
            <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid" class="text-danger mt-1">
              <small *ngIf="userForm.get('email')?.hasError('required')">El email es obligatorio.</small>
              <small *ngIf="userForm.get('email')?.hasError('email')">Ingrese un email válido.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="contraseña" class="form-label">Contraseña</label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                id="contraseña"
                formControlName="contraseña"
                placeholder="Ingrese su Contraseña"
              >
              <button
              class="password-toggle-btn"
              type="button"
              (click)="showPassword = !showPassword"
              >
              <i class="material-icons password-icon">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
              </button>
            </div>
            <div *ngIf="userForm.get('contraseña')?.touched && userForm.get('contraseña')?.invalid" class="text-danger mt-1">
              <small *ngIf="userForm.get('contraseña')?.hasError('required')">La contraseña es obligatoria.</small>
              <small *ngIf="userForm.get('contraseña')?.hasError('shortPassword')">La contraseña es demasiado corta. Mínimo 8 caracteres.</small>
              <small *ngIf="userForm.get('contraseña')?.hasError('weakPassword')">La contraseña es débil. Debe incluir una mayúscula, un número y un carácter especial.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="repetirContraseña" class="form-label">Repetir Contraseña</label>
            <div class="input-group">
              <input
                [type]="showRepeatPassword ? 'text' : 'password'"
                class="form-control"
                id="repetirContraseña"
                formControlName="repetirContraseña"
                placeholder="Ingrese nuevamente su contraseña"
              >
              <button
              class="password-toggle-btn"
              type="button"
              (click)="showRepeatPassword = !showRepeatPassword"
            >
              <i class="material-icons password-icon">{{ showRepeatPassword ? 'visibility_off' : 'visibility' }}</i>
              </button>
            </div>
            <div *ngIf="userForm.hasError('passwordsMismatch')" class="text-danger mt-1">
              <small>Las contraseñas no coinciden.</small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="dni" class="form-label">DNI</label>
            <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="Ingrese su numero de Indentidad">
            <div *ngIf="userForm.get('dni')?.touched && userForm.get('dni')?.invalid" class="text-danger mt-1">
              <small *ngIf="userForm.get('dni')?.hasError('required')">El DNI es obligatorio.</small>
              <small *ngIf="userForm.get('dni')?.hasError('invalidDNI')">{{ userForm.get('dni')?.getError('invalidDNI') }}</small>
            </div>
          </div>
          <div class="col-md-6">
              <label for="rol" class="form-label">Rol</label>
              <select class="form-select" id="rol" formControlName="rol">
                  <option value="Delegado de mesa">Delegado de mesa</option>
                  <option value="Árbitro">Árbitro</option>
                  <option value="Administrador">Administrador</option>
              </select>
              <div *ngIf="userForm.get('rol')?.touched && userForm.get('rol')?.invalid" class="text-danger mt-1">
                <small *ngIf="userForm.get('rol')?.hasError('required')">El rol es obligatorio.</small>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteUser()" *ngIf="esAdministrador && isEditing">Eliminar</button>
        <div>
          <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cerrar</button>
          <button type="button" class="btn btn-success" (click)="saveUser()">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </div>
</ng-template>
