/* Estilos mejorados para el encabezado del modal */
.modal-header {
  background-color: #28a745;
  /*background-image: linear-gradient(135deg, #28a745, #20c997);*/
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1rem 1.5rem;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.modal-header .btn-close-white {
  padding: 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
  transition: transform 0.2s ease;
  opacity: 0.8;
}

.modal-header .btn-close-white:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Media query para dispositivos móviles */
@media (max-width: 576px) {
  .modal-header {
    padding: 0.75rem 1rem;
  }
  
  .modal-header .modal-title {
    font-size: 1.1rem;
  }
}
/*-------------------------end modal-----------------------------------------------------*/
.modal-body {
  background-color: #ffffff;
  padding: 20px;
}

.modal-dialog {
  max-width: 600px;
}

.modal-footer {
  padding: 1rem;
  background-color: #f1f1f1;
}

/* Estilos de formulario */
.form-control {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  color: #495057;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-label {
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: #333;
}

.form-select {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

/* Estilos de botones */
.btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-close-white {
  background-color: white;
}

/* Estilos del botón de contraseña */
.password-toggle-btn {
  border: 1px solid #ced4da;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.password-toggle-btn:hover {
  background-color: #f8f9fa;
  border-color: #b1b7bd;
}

.password-toggle-btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
  border-color: #80bdff;
}

.password-toggle-btn:active {
  background-color: #e9ecef;
}

.password-icon {
  font-size: 20px;
  color: #6c757d;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
}

/* Mejoras visuales generales */
.ng-template .modal-content {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .modal-body {
    padding: 10px;
  }

  .btn {
    padding: 10px;
    font-size: 14px;
  }
}

/*@media (max-width: 576px) {
  
  .modal-dialog {
    margin: 0.5rem;
  }
  
  .col-md-6 {
    width: 100%;
  }
  
  .modal-footer {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  
  .modal-footer > * {
    margin: 0.25rem 0;
  }
}
*/
/* Estilos mejorados para el footer del modal */
.modal-footer {
  padding: 1rem;
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid #dee2e6;
}

.modal-footer .btn {
  min-width: 100px;
  transition: all 0.2s ease;
}

/* Contenedor para los botones de la derecha */
.modal-footer > div {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

/* Botón de eliminar (izquierda) */
.modal-footer .btn-danger {
  margin-right: auto;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 576px) {
  .modal-footer {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    padding: 0.75rem;
  }

  .modal-footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-left: 0;
  }

  .modal-footer .btn {
    min-width: auto;
    width: 100%;
  }

  .modal-footer .btn-danger {
    margin-bottom: 0.5rem;
  }

}
