<div class="cr-camp-cat-container">
    <h3>Nombre del campeonato</h3>
    <input type="text" [(ngModel)]="nombreCamp" class="cr-camp-cat-title" placeholder="Título"/>
    <div class="cr-camp-cat-button">
      <button (click)="crearCampeonato()">Crear campeonato</button>
    </div>
</div>
  