<div class="container">
    <div class="container mt-1 position-relative">
        <!-- Botón de retroceder -->
        <button 
            class="btn btn-primary rounded-5 bg-success border-success position-absolute start-0 top-0 m-3" 
            type="button" 
            [routerLink]="['/menu1']">
            <i class="bi bi-arrow-return-left"></i>
        </button>
    
        <!-- Texto centrado -->
        <div class="row justify-content-center">
            <div class="col-md-12 text-center bg-light p-4 rounded">
                <h1 class="text-success text-uppercase">"{{campeonato.tituloCampeonato}}"</h1>
                <h5 class="text-secondary text-uppercase">"{{campeonato.tituloHonorifico}}"</h5>
            </div>
        </div>
    </div>
    
    
    <div class="row mt-4 ">
        <div class="card " style="height: 300px">
            <img src='../../assets/campeonatoMixtoPortada.jpg' class="card-img" alt="..." style="height: 100%;">

            <div class="card-img-overlay ">
                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item bg-transparent text-light">
                        Inicio
                        <br>
                        {{campeonato.fechaInicio}}

                    </li>
                    <li class="list-group-item bg-transparent text-light">
                        Finalizacion
                        <br>
                        {{campeonato.fechaFin}}
                    </li>
                    <li class="list-group-item bg-transparent text-light">
                        Organizador
                        <br>
                        {{campeonato.organizadorNombre}}
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="container text-center">
                    <div class="row align-items-end">
                        <div class="col">
                        </div>
                        <div class="col" >
                            <div class="container-buttons-card d-inline-block">                                
                                <button class="favorite btn btn-primary rounded-5 bg-success border-success " 
                                (click)="toggleFavCampCategorias(campeonato) ">Seguir
                                    <i
                                        class="fa-regular fa-heart"
                                        id="favorite-regular"
                                        *ngIf="!isCampeonatoFavCategorias(campeonato)"
                                    ></i>
                                    <i
                                        class="fa-solid fa-heart"
                                        id=".active"
                                        *ngIf="isCampeonatoFavCategorias(campeonato)"
                                    ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>
    <div class="row mt-5">
        <h3>Acerca de </h3>
        <ul class="list-unstyled m-3">
            <h4>Contacto:</h4>
            <ul class="list-unstyled m-3">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                    {{campeonato.organizadorEmail}}
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                    {{campeonato.organizadorNumero}}
                </li>
            </ul>
            <h4>Anexos</h4>
            <ul class="list-unstyled m-3">
                <a href="#">Bases Generales Olimpiadas Internas 2024</a>
            </ul>
        </ul>
    </div>

    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>



    <!--
    <div class="row mt-3">
        <h3>Equipos:</h3>
        <ul class="list-group list-group-flush list-group-item-action m-3">
            
            <div *ngFor="let equipo of equipos" 
                style="
                    display: flex;
                    align-items: center;">
                <button type="button" class="list-group-item list-group-item-action" style="
                display: flex;
                flex-direction: row;
                align-items: center;">
                    <img src="../../assets/logoEquipo.jpg" alt="..." width="40" height="40">
                    <div>{{equipo.nombre}} </div>
                    <div *ngIf="campeonato.tituloCampeonato == 'Campeonato Grupos'" style="color: rgb(151, 148, 144);">|||</div>
                    <div *ngIf="campeonato.tituloCampeonato == 'Campeonato Grupos'" style="color:#4CAF50; font-weight: bold;">  {{getGrupoNombre(equipo.grupoId)}}</div>
                    
                </button>
                
            </div>
        </ul>
    </div>-->

    <!--LISTA DE CAMPEONATOS-->
    <div class="row mt-3">
        <div class="col-12 align-items-center justify-content-between">
            <h3>Campeonatos:</h3>
            <button *appHasRole="'Administrador'" type="button" class="btn btn-success position-absolute top-0 end-0 rounded-5" (click)="openAddCampeonatoDialog()" style="width: auto;">
                <i class="bi bi-plus-circle"></i>
            </button>
        <ul class="list-group list-group-flush list-group-item-action m-3">
            <div *ngFor="let campeonato of filteredCampeonatos; let i = index">
                <div class="row">
                    <div class="col-9">
                        <button (click)="navigateToMenu2(campeonato.id || 0)" type="button"
                            class="list-group-item list-group-item-action ">
                            <img src="../../assets/logoEquipo.jpg" class="mr-3" width="40" height="40">
                            {{campeonato.tituloCampeonato}}

                        </button>

                    </div>

                    <div *ngIf="true" class="col-3">
                        <div *ngIf="campeonato.tipoCampeonato == 1" class="d-inline-block m-2 mt-3">
                            <img class="mr-3" src="../../assets/iconoFutbol.png" alt="Fútbol" width="25" height="25">
                        </div>
                        <div *ngIf="campeonato.tipoCampeonato == 2" class="d-inline-block">
                            <img class="mr-3" src="../../assets/iconoVoley.png" alt="Voleibol" width="25" height="25">
                        </div>
                        <button *appHasRole="'Administrador'" type="button" class="btn btn-success m-2" (click)="openSeleccionarEquiposDialog(campeonato)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                            </svg>
                        </button>
                        <button *appHasRole="'Administrador'" type="button" class="btn btn-success m-2" (click)="openEditCampeonatoDialog(campeonato)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-brush-fill" viewBox="0 0 16 16">
                                <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04" />
                            </svg>
                        </button>
                    </div>
                    
                </div>
            </div>
        </ul>
    </div>

    <!-- Dialog Template -->
    <ng-template #campeonatoDialog class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">{{ isEditing ? 'Editar Campeonato' : (isCreatingWithCategories ? 'Añadir
                        Campeonato con Categorías' : isEditingWithCategories ? 'Editar Campeonato con Categorías' :
                        'Añadir Campeonato') }}</h1>
                    <button type="button" class="close" (click)="closeDialog()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="campeonatoForm" class="form-horizontal">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="tituloCampeonato">Titulo del Campeonato*</label>
                                <input id="tituloCampeonato" type="text" class="form-control"
                                    formControlName="tituloCampeonato" required>
                                <div *ngIf="campeonatoForm.controls['tituloCampeonato'].invalid && campeonatoForm.controls['tituloCampeonato'].touched"
                                    class="text-danger">
                                    El título es obligatorio.
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="organizadorNombre">Nombre del Organizador*</label>
                                <input id="organizadorNombre" type="text" class="form-control"
                                    formControlName="organizadorNombre" required>
                                <div *ngIf="campeonatoForm.controls['organizadorNombre'].invalid && campeonatoForm.controls['organizadorNombre'].touched"
                                    class="text-danger">
                                    El nombre del organizador es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="tituloHonorifico">Titulo Honorifico</label>
                                <input id="tituloHonorifico" type="text" class="form-control"
                                    formControlName="tituloHonorifico">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fechaInicio">Fecha de Inicio*</label>
                                <input id="fechaInicio" type="date" class="form-control" formControlName="fechaInicio"
                                    required>
                                <div *ngIf="campeonatoForm.controls['fechaInicio'].invalid && campeonatoForm.controls['fechaInicio'].touched"
                                    class="text-danger">
                                    La fecha de inicio es obligatorio
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fechaFin">Fecha de Finalizacion*</label>
                                <input id="fechaFin" type="date" class="form-control" formControlName="fechaFin"
                                    required>
                                <div *ngIf="campeonatoForm.controls['fechaFin'].invalid && campeonatoForm.controls['fechaFin'].touched"
                                    class="text-danger">
                                    La fecha de finalizacion es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="organizadorNumero">Teléfono del Organizador</label>
                                <input id="organizadorNumero" type="text" class="form-control"
                                    formControlName="organizadorNumero">
                                <div *ngIf="campeonatoForm.controls['organizadorNumero'].invalid && campeonatoForm.controls['organizadorNumero'].touched"
                                    class="text-danger">
                                    <div *ngIf="campeonatoForm.controls['organizadorNumero'].errors?.['pattern']">El
                                        teléfono debe ser un número de 9 dígitos.</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="organizadorEmail">Email del organizador*</label>
                                <input id="organizadorEmail" type="email" class="form-control"
                                    formControlName="organizadorEmail" required>
                                <div *ngIf="campeonatoForm.controls['organizadorEmail'].invalid && campeonatoForm.controls['organizadorEmail'].touched"
                                    class="text-danger">
                                    <div *ngIf="campeonatoForm.controls['organizadorEmail'].errors?.['required']">El
                                        email es obligatorio.</div>
                                    <div *ngIf="campeonatoForm.controls['organizadorEmail'].errors?.['email']">El
                                        formato del email es incorrecto.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12"
                                *ngIf="!isEditing && !isCreatingWithCategories && !isEditingWithCategories">
                                <label for="tipoCampeonato">Tipo de Campeonato*</label>
                                <select id="tipoCampeonato" class="form-select" formControlName="tipoCampeonato"
                                    aria-label="Seleccionar tipo de campeonato" required>
                                    <option value="" disabled selected>Selecciona una opción</option>
                                    <option value="1">Fútbol</option>
                                    <option value="2">Voleibol</option>
                                </select>
                                <div *ngIf="campeonatoForm.controls['tipoCampeonato'].invalid && campeonatoForm.controls['tipoCampeonato'].touched"
                                    class="text-danger">
                                    El tipo de campeonato es obligatorio
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-success" [disabled]="!campeonatoForm.valid"
                        (click)="isCreatingWithCategories ? saveCampeonatoWithCategories() : isEditingWithCategories ? saveCampeonatoWithCategories() : saveCampeonato()">
                        Guardar
                    </button>

                    <button *ngIf="isEditing" type="button" class="btn btn-danger" (click)="deleteCampeonato()">
                        Eliminar
                    </button>
                    <button *ngIf="isEditingWithCategories" type="button" class="btn btn-danger"
                        (click)="deleteCampeonatoCategorias()">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </ng-template>

    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>
    <div class="row mt-3">
        <h3>Mensajes</h3>
        <form>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Envia un Mensaje</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary rounded-5 bg-success border-success">Enviar</button>
        </form>

    </div>
     <!-- Dialog Template para seleccionar equipos -->
     <ng-template #seleccionarEquiposDialog class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Modificar Equipos del Campeonato</h1>
                    <button type="button" class="close" (click)="closeSeleccionarEquiposDialog()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-row">
                            <!-- Buscador de equipos -->
                            <div class="form-group col-md-6">
                                <label for="search">Buscar Equipos</label>
                                <input type="text" class="form-control" placeholder="Buscar..."
                                    [(ngModel)]="equipoSearchTerm" (ngModelChange)="filterEquipos()"
                                    name="equipoSearchName" />

                                <!-- Lista de equipos filtrados -->
                                <div class="list-group mt-2" style="max-height: 200px; overflow-y: auto;">
                                    <div *ngFor="let equipo of filteredEquipos">
                                        <button type="button" class="list-group-item list-group-item-action"
                                            (click)="addToSelected(equipo)">
                                            {{ equipo.nombre }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- Equipos seleccionados -->
                            <div class="form-group col-md-6">
                                <label>Equipos Seleccionados</label>
                                <ul class="list-group" style="max-height: 200px; overflow-y: auto;">
                                    <li *ngFor="let equipo of selectedEquipos"
                                        class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ equipo.nombre }}
                                        <button type="button" class="btn btn-danger btn-sm"
                                            (click)="removeFromSelected(equipo)">
                                            <i *ngIf="!equiposJugaron.get(equipo.id); else playedIcon"
                                                class="bi bi-trash3-fill"></i>
                                            <ng-template #playedIcon>
                                                <i class="bi bi-shield-x"></i>
                                            </ng-template>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="addEquiposToCampeonato()">Añadir
                        Equipos</button>
                    <button type="button" class="btn btn-secondary"
                        (click)="closeSeleccionarEquiposDialog()">Cerrar</button>
                </div>
            </div>
        </div>
    </ng-template>
    <app-confirmation #confirmation [message]="confirmationMessage" [type]="'info'"></app-confirmation>



</div>