<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
  <title>Bracket</title>
</head>

<body>
  <section id="bracket">
    <div class="container">
      <div class="split split-one">
        <!-- Semifinales -->
        <div class="round round-three current">
          <div class="round-details">Semifinales<br /><span class="date"></span></div>
          <ul *ngFor="let partido of getPartidos(3)" class="matchup">
            <li class="team team-top" [class.winner]="isWinner(partido, 1)" [title]="getEquipoNombre(partido.equipo1Id)">
              <div>
                <img 
                  class="team-logo" 
                  src="assets/team1-icon-voley.png"
                  srcset="assets/team1-icon-voley.png"
                />
                <span>{{ getEquipoNombre(partido.equipo1Id) }}</span>
                <span class="score">{{ calculateSetsWon(partido).equipo1 }}</span>
              </div>
            </li>
            <li class="team team-bottom" [class.winner]="isWinner(partido, 2)" [title]="getEquipoNombre(partido.equipo2Id)">
              <div>
                <img 
                  class="team-logo" 
                  src="assets/team1-icon-voley.png"
                  srcset="assets/team1-icon-voley.png"
                />
                <span>{{ getEquipoNombre(partido.equipo2Id) }}</span>
                <span class="score">{{ calculateSetsWon(partido).equipo2 }}</span>
              </div>
            </li>
          </ul>
        </div>
        <!-- Final -->
        <div class="champion">
          <div class="final current">
            <i class="fa fa-trophy"></i>
            <div class="round-details">Final<br /><span class="date"></span></div>
            <ul *ngFor="let partido of getFinal()" class="matchup">
              <li class="team team-top winner " [class.winner]="isWinner(partido, 1)" [title]="getEquipoNombre(partido.equipo1Id)">
                <div>
                  <img 
                    class="team-logo" 
                    src="assets/team1-icon-voley.png"
                    srcset="assets/team1-icon-voley.png"
                  />
                  <span>{{ getEquipoNombre(partido.equipo1Id) }}</span>
                  <span class="score">{{ calculateSetsWon(partido).equipo1 }}</span>
                </div>
              </li>
              <li class="team team-bottom winner " [class.winner]="isWinner(partido, 2)" [title]="getEquipoNombre(partido.equipo2Id)">
                <div>
                  <img 
                    class="team-logo" 
                    src="assets/team1-icon-voley.png"
                    srcset="assets/team1-icon-voley.png"
                  />
                  <span>{{ getEquipoNombre(partido.equipo2Id) }}</span>
                  <span class="score">{{ calculateSetsWon(partido).equipo2  }}</span>
                </div>
              </li>
            </ul>
          </div>
          <!-- 3/4 Puesto -->
          <div class="semis-r current">
            <div class="round-details">3/4 PUESTO <br /><span class="date"></span></div>
            <ul *ngFor="let partido of getTercerCuarto()" class="matchup championship">
              <li class="team team-top" [class.winner]="isWinner(partido, 1)" [title]="getEquipoNombre(partido.equipo1Id)">
                <div>
                  <img 
                    class="team-logo" 
                    src="assets/team1-icon-voley.png"
                    srcset="assets/team1-icon-voley.png"
                  />
                  <span>{{ getEquipoNombre(partido.equipo1Id) }}</span>
                  <span class="score">{{ calculateSetsWon(partido).equipo1 }}</span>
                </div>
              </li>
              <li class="team team-bottom" [class.winner]="isWinner(partido, 2)" [title]="getEquipoNombre(partido.equipo2Id)">
                <div>
                  <img 
                    class="team-logo" 
                    src="assets/team1-icon-voley.png"
                    srcset="assets/team1-icon-voley.png"
                  />
                  <span>{{ getEquipoNombre(partido.equipo2Id) }}</span>
                  <span class="score">{{ calculateSetsWon(partido).equipo2 }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>

