<div class="crear-campeonato-container">
  <h3>Nombre del campeonato</h3>
  <input type="text" [(ngModel)]="catNombre" class="crear-campeonato-title" placeholder="Título" />

  <h4>Fases del campeonato</h4>
  <div class="fase-option" *ngFor="let fase of fases">
    <input type="radio" [id]="fase.idfases" name="fase" (change)="onFaseChange(fase)">
    <label [for]="fase.idfases">{{ fase.nombre }}</label>
  </div>
  <p class="message">Aún puede crear y eliminar las fases más tarde.</p>

  <div class="crear-campeonato-button">
    <button (click)="crearCategoria()">Crear campeonato</button>
  </div>
</div>
