.crear-campeonato-container {
  position: relative;
  z-index: 1;
  width: 600px;
  margin: 0px auto;
  padding: 30px;
  border: 0px solid #ddd;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}

.crear-campeonato-container:hover {
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
}

.crear-campeonato-container h3 {
  margin: 0 0 20px;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}

.crear-campeonato-container h4 {
  margin: 20px 0 10px;
  color: #4CAF50;
  font-size: 18px;
  font-weight: 500;
}

.crear-campeonato-container input[type="text"] {
  width: 95%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.crear-campeonato-container input[type="text"]:focus {
  border-color: #4CAF50;
}

.fase-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.fase-option input[type="radio"] {
  margin-right: 10px;
  accent-color: #4CAF50;
}

.crear-campeonato-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.crear-campeonato-button button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.crear-campeonato-button button:hover {
  background-color: #4CAF50;
  transform: translateY(-2px);
}

.crear-campeonato-button button:active {
  background-color: #4daa50;
  transform: translateY(0);
}
.message {
  color: gray;
  text-align: left;
  transform: translateY(0);
}


