

::ng-deep .selectTeam.ng-select.ng-select-single {
  width: 100%; /* Asegura que mantenga el ancho del contenedor padre */ 
}

/* Ocultar la "x" */
::ng-deep .selectTeam.ng-select .ng-clear-wrapper {
  display: none !important; 
}

/* Estilo inicial del select como texto camuflado */
::ng-deep .selectTeam.ng-select {
  min-width: 200px;
  border: none;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  text-align: center; /* Centrar el texto */
  display: flex;      /* Asegurar que el contenedor use flexbox */
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center; /* Centrar contenido verticalmente */
}

/* Centrar el texto seleccionado y placeholder en el contenedor del select */
::ng-deep .selectTeam.ng-select .ng-select-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  border-bottom: 1px dotted #ffffff; /* Líneas punteadas para el texto camuflado */
  text-align: center;
}

/* Al hacer clic en el select, agregamos el borde de activación */
::ng-deep .selectTeam.ng-select.ng-select-focused .ng-select-container {
  border-bottom: 1px solid #1100ff;
  background-color: white;
}


/* Ajustes de esto en el texto " | " */
::ng-deep .selectTeam.ng-select .ng-select-container input {
  text-align: center; /* Centrar el texto y el caret */
}


/* Centrar el placeholder cuando no hay selección */
::ng-deep .selectTeam.ng-select .ng-value-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
  padding: 0;
  height: 100%; /* Asegurar que ocupe toda la altura del contenedor */
  margin: 0 20px;
  margin-right: 0px;
  padding-left: 0px;
  font-size: 18px;
  color: black;
}

/* Ajustar el caret (puntero de texto) para que esté centrado */
::ng-deep .selectTeam.ng-select .ng-input:focus {
  text-align: center; /* Asegura que el caret esté centrado */
}

::ng-deep .selectTeam.ng-select .ng-input {
  padding-right: 0px;
  padding-left: 0px;
}

::ng-deep .selectTeam.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0;
}



.copa-equipo{
  align-items: center;
}

.border-rect {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

.score .carousel button {
  background: #28a745;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.score .carousel button:hover {
  background: #218838;
}

.score h1 {
  margin: 0 10px;
  font-size: 36px;
  color: black;
}

.carousel-item {
  text-align: center;
}

.btn-outline-primary {
  font-size: 24px;
  padding: 10px 20px;
}

.header {
  position: relative;
}

.header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}