<div class="container border-rect">
  <header class="d-flex align-items-center justify-content-between py-3 border-bottom bg-success">
    <button class="btn btn-link text-white back-button">
      <i class="bi bi-arrow-left" style="font-size: 2em"></i>
    </button>
    <h1 class="text-center text-white m-0" style="position: absolute; left: 50%; transform: translateX(-50%);">EDITAR
      RESULTADO</h1>
    <div class="col-auto">
      <button class="btn btn-primary me-2" (click)="guardar()" [hidden]="(isHidden && fase === 1) || !this.isAdministrador">
        <i class="bi bi-save"></i> Guardar
      </button>
      <button class="btn btn-danger" (click)="eliminarPartido()" [hidden]="(isHidden && fase === 1) || !this.isAdministrador">
        <i class="bi bi-trash"></i> Eliminar
      </button>
    </div>
  </header>

  <div class="status-score mt-4 text-center">
    <div class="status-selector mb-3 d-flex flex-row justify-content-center align-items-center"
      style="width: 100%; max-width: 800px; margin: 0 auto;">
      <div class="w-50 pe-2">
        <label for="form-select" class="form-label">Estado del partido:</label>
        <select class="form-select" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange($event)"
          id="form-select" [disabled]="!this.isAdministrador">
          <option [value]="estado.NO_REALIZADO">PREPARACION</option>
          <option [value]="estado.EN_VIVO">EN VIVO</option>
          <option [value]="estado.REALIZADO">REALIZADO</option>
        </select>
      </div>
      <div [hidden]="(fase !== 1) || !this.isAdministrador" class="w-50 pe-2">
        <label for="form-select" class="form-label">Grupo:</label>
        <select class="form-select" id="form-select"
          [disabled]="(selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO) || !this.isAdministrador">
          <option>GRUPO A</option>
          <option>GRUPO B</option>
        </select>
      </div>
      <div class="w-50 ps-2">
        <label for="bestPlayer" class="form-label">Mejor Jugador:</label>
        <select id="bestPlayer" [(ngModel)]="mejorJugadorId" class="form-select"
          [disabled]="(selectedStatus != estado.EN_VIVO) || !this.isAdministrador">
          <option *ngFor="let player of allPlayers" [value]="player.id">{{ player.name }}</option>
        </select>
      </div>
      <div class="w-50 ps-2">
        <!-- Cambiar ngModel a portero-->
        <label for="bestGoalKeeper" class="form-label">Mejor Portero:</label>
        <select id="bestGoalKeeper" [(ngModel)]="mejorPorteroId" class="form-select"
          [disabled]="(selectedStatus != estado.EN_VIVO) || !this.isAdministrador">
          <option *ngFor="let player of allPlayers" [value]="player.id">{{ player.name }}</option>
        </select>
      </div>
    </div>

    <div class="score d-flex justify-content-center align-items-center">
      <div class="carousel d-flex align-items-center">
        <h1>{{ marcador.equipo1 }}</h1>
      </div>
      <span class="mx-5 h2">x</span>
      <div class="carousel d-flex align-items-center">
        <h1>{{ marcador.equipo2 }}</h1>
      </div>
    </div>
  </div>

  <div class="teams row mt-4 justify-content-center">
    <div class="team col-md-5 d-flex flex-column align-items-center border p-4 rounded bg-light mb-4 mb-md-0 me-md-4">
      <i class="bi bi-trophy-fill text-warning" style="font-size: 100px;"></i>

      <ng-select class="selectTeam" style="margin-bottom: 20px;margin-top: 20px;" [items]="filteredTeams1"
        bindLabel="name" bindValue="id" placeholder="Selecciona al Equipo 1" [(ngModel)]="selectedTeam1"
        [searchable]="true"
        [disabled]="(selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO || (fase > 1 && fase != getFaseValue(faseInicial))) || !this.isAdministrador"
        (ngModelChange)="onItemSelected(1, $event)">
      </ng-select>

      <div class="details w-100">
        <ng-container *ngTemplateOutlet="
            detalleTemplate;
            context: {
              numeroEquipo: 1,
              equipo: equipo1,
              partidoDetDel: partidoEquipo1DetDel,
              equipoId: selectedTeam1,
            }
          " />
      </div>
    </div>

    <div class="team col-md-5 d-flex flex-column align-items-center border p-4 rounded bg-light">
      <i class="bi bi-trophy-fill text-warning" style="font-size: 100px;"></i>

      <ng-select class="selectTeam" style="margin-bottom: 20px;margin-top: 20px;" [items]="filteredTeams2"
        bindLabel="name" bindValue="id" placeholder="Selecciona al Equipo 2" [(ngModel)]="selectedTeam2"
        [searchable]="true"
        [disabled]="(selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO || (fase > 1 && fase != getFaseValue(faseInicial))) || !this.isAdministrador"
        (ngModelChange)="onItemSelected(2, $event)">
      </ng-select>

      <div class="details w-100">
        <ng-container *ngTemplateOutlet="
            detalleTemplate;
            context: {
              numeroEquipo: 2,
              equipo: equipo2,
              partidoDetDel: partidoEquipo2DetDel,
              equipoId: selectedTeam2,
            }
          " />
      </div>
    </div>
  </div>
</div>

<ng-template #detalleTemplate let-numeroEquipo="numeroEquipo" let-equipo="equipo" let-partidoDetDel="partidoDetDel"
  let-equipoId="equipoId">

  <ng-container *ngIf="selectedStatus === estado.NO_REALIZADO">
    <app-editable-box title="Alineación" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [tipoEditable]="tipoEditableBox.ALINEACION" [items]="equipo.alineacion" [itemsEliminar]="partidoDetDel.alineacion"
      [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador"/>
  </ng-container>

  <ng-container *ngIf="selectedStatus === estado.EN_VIVO">
    <app-editable-box title="Alineación" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [tipoEditable]="tipoEditableBox.ALINEACION" [items]="equipo.alineacion" [itemsEliminar]="partidoDetDel.alineacion"
      [isDisabled]="true" [isHidden]="true" />
    <app-editable-box title="Goles" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId" [items]="equipo.goles"
      [itemsEliminar]="partidoDetDel.goles" [cambiaPuntaje]="true" (onCambiarPuntaje)="handleCambiarPuntaje($event)"
      (onDisminuirPuntaje)="handleDisminuirPuntaje($event)" [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador" />
    <app-editable-box title="Tarjetas" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId" [items]="equipo.tarjetas"
      [tipoEditable]="tipoEditableBox.CARD_BOX" [itemsEliminar]="partidoDetDel.tarjetas" [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador" />
    <app-editable-box title="Faltas" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId" [items]="equipo.faltas"
      [itemsEliminar]="partidoDetDel.faltas" [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador"/>
    <app-editable-box title="Sustituciones" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [items]="equipo.sustituciones" [itemsEliminar]="partidoDetDel.sustituciones"
      [tipoEditable]="tipoEditableBox.SUSTITUCION" [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador"/>
    <!--Actualizacion de marcador goles en contra: (onCambiarPuntaje)="handleCambiarPuntajeEnContra($event)" (onDisminuirPuntaje)="handleDisminuirPuntajeEnContra($event)"-->
    <app-editable-box title="Gol en Contra" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [items]="equipo.golEnContra" [itemsEliminar]="partidoDetDel.golEnContra" [cambiaPuntaje]="true" [golContra]="1"
      [isDisabled]="true" [isHidden]="true" />
    <app-editable-box title="Asistencias" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [items]="equipo.asistencias" [itemsEliminar]="partidoDetDel.asistencias" [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador" />
  </ng-container>

  <ng-container *ngIf="selectedStatus === estado.REALIZADO">
    <app-editable-box title="Alineación" [numeroEquipo]="numeroEquipo" [tipoEditable]="tipoEditableBox.ALINEACION"
      [equipoId]="equipoId" [items]="equipo.alineacion" [isHidden]="true" [isDisabled]="true" />
    <app-editable-box title="Goles" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId" [items]="equipo.goles"
      [isDisabled]="true" [isHidden]="true" />
    <app-editable-box title="Tarjetas" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId" [items]="equipo.tarjetas"
      [tipoEditable]="tipoEditableBox.CARD_BOX" [isDisabled]="true" [isHidden]="true" />
    <app-editable-box title="Faltas" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId" [items]="equipo.faltas"
      [isDisabled]="true" [isHidden]="true" />
    <app-editable-box title="Sustituciones" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [items]="equipo.sustituciones" [tipoEditable]="tipoEditableBox.SUSTITUCION" [isDisabled]="true"
      [isHidden]="true" />
    <app-editable-box title="Gol en Contra" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [items]="equipo.golEnContra" [golContra]="1" [isDisabled]="true" [isHidden]="true" />
    <app-editable-box title="Asistencias" [numeroEquipo]="numeroEquipo" [equipoId]="equipoId"
      [items]="equipo.asistencias" [isDisabled]="true" [isHidden]="true" />
  </ng-container>
</ng-template>