/* Estilos generales */
.dropdown {
    text-align: center;
  }
  
  /* Estilo del select */
  .styled-select select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 100px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Estilos para contenido de clasificación */
  .Clasificación-content {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 2% auto;
    padding: 40px;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .Clasificación-content{
    max-width: 1200px;
    margin-right: 50px;
  }
  
  /* Estilos para eliminar estilos por defecto de Angular Material en las celdas del encabezado */
  .mat-header-cell {
    background-color: transparent !important;
  }
  
  /* Estilo para la celda de posición en el encabezado */
  .pos-header {
    left: 0;
    z-index: 2;
  }
  
  /* Estilos para las celdas del encabezado */
  .header-cell {
    background-color: #ffffff;
    color: rgb(7, 7, 7);
    left: 0px;
  }
  
  /* Estilos para las filas de la tabla */
  .custom-row {
    margin-bottom: 10px;
    background-color: white;
    color: black;
  }
  
  /* Estilo para columnas alternas */
  .alternate-column, .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo del encabezado */
  .header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0px;
  }
  
  /* Estilo del toggle personalizado */
  .custom-slide-toggle {
    color: #090b0e;
    font-size: 16px;
  }
  
  .custom-slide-toggle .mat-slide-toggle-bar,
  .custom-slide-toggle .mat-slide-toggle-thumb,
  .custom-slide-toggle .mat-slide-toggle-checked .mat-slide-toggle-thumb,
  .custom-slide-toggle .mat-slide-toggle-checked .mat-slide-toggle-bar {
    background-color: #000000;
  }
  
  /* Estilo para botón "add" */
  button.admin-mode {
    background-color: #04167a;
    color: white;
    margin-left: 170px;
    display: block;
  }
  
  button mat-icon {
    color: white;
  }
  
  /* Estilo para contenedor de scroll */
  .scroll-container {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  /* Estilo para la tabla */
  table {
    width: 100%; /* Ancho total de la tabla */
    background-color: rgb(240, 239, 239); /* Color de fondo de la tabla */
    table-layout: auto; /* Permite a las columnas ajustar su tamaño según el contenido */
  }
  
  /* Estilo para celdas del encabezado */
  .mat-header-cell.mat-cell {
    padding: 0px; /* Espacio interno de las celdas */
    border-bottom: none; /* Sin borde inferior */
  }
  
  /* Estilo para celdas "sticky" */
  .mat-sticky {
    position: -webkit-sticky; /* Soporte para Safari */
    position: sticky; /* Posición fija al hacer scroll */
    z-index: 1; /* Prioridad del z-index */
  }
  
  /* Estilo de columna de posición */
  .pos-column {
    left: 0; /* Fija a la izquierda */
    z-index: 2; /* Prioridad para estar encima */
    background-color: #04167a; /* Color de fondo */
    color: rgb(255, 255, 255); /* Color del texto */
    max-width: 60px;
  }
  
  /* Estilo de columna de equipo */
  .team-column {
    left: 60px; /* Ajusta según el ancho de la columna "POS" */
    z-index: 2; /* Mayor prioridad */
    background-color: #ffffff; /* Color de fondo */
    color: #04167a; /* Color del texto */
    min-width: 200px; /* Ancho mínimo de la columna */
    white-space: nowrap; /* Evita el wrap de contenido */
  }
  
  .mat-sticky.team-column img {
    width: 45px; /* Ajusta el ancho según tus necesidades */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    
  }
  
  /* Estilo de celdas "sticky" en el encabezado */
  .mat-sticky.mat-header-cell {
    z-index: 3;
  }
  
  /* Estilo para el toggle de clasificación por grupo */
  .toggle-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    border-color: #04167a;
  }
  
  .toggle-text {
    font-weight: bold;
    margin-right: 11px;
    font-size: 14px;
    color: #333;
  }
  
  /* Estilo para fase 2 */
  .bracket {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
  .round {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .match {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    margin: 50px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
  }
  
  .match span {
    font-weight: bold;
  }
  
  /* Conectores para el bracket */
  .connector-left, .connector-right {
    width: 20px;
    height: 2px;
    background-color: green;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .connector-left {
    left: 100%;
  }
  
  .connector-right {
    right: 100%;
  }
  
  /* Estilo para líneas verticales */
  .vertical-line, .vertical-line-inverse {
    position: relative;
    width: 2px;
    background-color: green;
    margin-left: 20px;
  }
  
  .vertical-line::before, .vertical-line::after,
  .vertical-line-inverse::before, .vertical-line-inverse::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: green;
  }
  
  .vertical-line::before {
    height: 72px;
    top: 0px;
  }
  
  .vertical-line::after {
    height: 0px;
    bottom: -35px;
  }
  
  .vertical-line-inverse::before {
    height: 0px;
    top: 0px;
  }
  
  .vertical-line-inverse::after {
    height: 72px;
    bottom: -2px;
  }
  
  .mat-sticky.team-column img {
    width: 45px;
    margin-right: 10px;
  }
  
  /* Media queries para responsividad */
  @media (max-width: 1200px) {
    .Clasificación-content {
      max-width: 900px;
      margin-right: 0;
    }
  
    .team-column {
      min-width: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .Clasificación-content{
      max-width: 100%;
      padding: 20px;
    }
  
    .match {
      width: 100%;
    }
  
    button.admin-mode {
      margin-left: 0;
    }
  }
  
  @media (max-width: 480px) {
    .styled-select select {
      font-size: 0.875rem;
      padding: 0.4rem;
    }
  
    .toggle-text {
      font-size: 12px;
      margin-right: 8px;
    }
  }
  
    