
  <div class="Clasificación-content">
        <div class="header">
  
          <div class="dropdown">
            <div class="styled-select">
              <select (change)="onPhaseChange($event)">
                <option value="1">1ra Fase</option>
                <option value="2">2da Fase</option>
              </select>
            </div>
          </div>
          
        <!--Se agregaron modificaciones temporales para mostra datos-->
          
            <div *ngIf="selectedPhase === '1'" class="toggle-container">
              <div class="toggle-text">Clasificación por grupos</div>
              <mat-slide-toggle (change)="toggleGroup($event)"></mat-slide-toggle>
            </div>
        </div>
    
        <ng-container *ngIf="selectedPhase === '1'; else phase2Content">
          <div *ngIf="isGrouped; else allTeams">
            <div *ngFor="let group of groups">
              <h3  style="text-align: center;" >{{ group.name }}</h3>
              <div class="scroll-container">
                <table mat-table [dataSource]="group.teams" class="mat-elevation-z8 mt-3">
                  <!-- Columnas de la tabla POR GRUPOS -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef class="mat-sticky pos-header header-cell">Pos</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-sticky pos-column" matRipple>{{ element.position }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="team">
                    <mat-header-cell *matHeaderCellDef class="mat-sticky team-column header-cell">EQUIPOS</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-sticky team-column" matRipple >
                      <img src="/assets/soccer-ball.jpg" alt="Equipo">{{ element.team }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="pts">
                    <mat-header-cell *matHeaderCellDef class="header-cell" >Pts</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.pts }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="j">
                    <mat-header-cell *matHeaderCellDef class="header-cell">J</mat-header-cell>
                    <mat-cell *matCellDef="let element" matRipple class="column">{{ element.j }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="g">
                    <mat-header-cell *matHeaderCellDef class="header-cell">G</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.g }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="e">
                    <mat-header-cell *matHeaderCellDef class="header-cell">E</mat-header-cell>
                    <mat-cell *matCellDef="let element" matRipple class="column">{{ element.e }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="p">
                    <mat-header-cell *matHeaderCellDef class="header-cell">P</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.p }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="gf">
                    <mat-header-cell *matHeaderCellDef class="header-cell">GF</mat-header-cell>
                    <mat-cell *matCellDef="let element" matRipple class="column">{{ element.gf }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="gc">
                    <mat-header-cell *matHeaderCellDef class="header-cell">GC</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.gc }}</mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="dif">
                    <mat-header-cell *matHeaderCellDef class="header-cell">DIF</mat-header-cell>
                    <mat-cell *matCellDef="let element" matRipple class="column">{{ element.dif }}</mat-cell>
                  </ng-container>
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-row" matRipple (click)="onRowClick(row)"></mat-row>
                </table>
              </div>
            </div>
          </div>
    
          <ng-template #allTeams>
            <h3 style="text-align: center;">Clasificación</h3>
            <div class="scroll-container">
              <table mat-table [dataSource]="allTeamsDataSource">
                <!-- Columnas de la tabla CLASIFICACION -->
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef class="mat-sticky pos-header header-cell">Pos</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="mat-sticky pos-column header-cell" matRipple>{{ element.position }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="team">
                  <mat-header-cell *matHeaderCellDef class="mat-sticky team-column">EQUIPOS</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="mat-sticky team-column" matRipple> 
                    <img src="/assets/soccer-ball.jpg" alt="Equipo">{{ element.team }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="pts">
                  <mat-header-cell *matHeaderCellDef class="header-cell">Pts</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.pts }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="j">
                  <mat-header-cell *matHeaderCellDef class="header-cell">J</mat-header-cell>
                  <mat-cell *matCellDef="let element" matRipple class="column">{{ element.j }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="g">
                  <mat-header-cell *matHeaderCellDef class="header-cell">G</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.g }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="e">
                  <mat-header-cell *matHeaderCellDef class="header-cell">E</mat-header-cell>
                  <mat-cell *matCellDef="let element" matRipple class="column">{{ element.e }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="p">
                  <mat-header-cell *matHeaderCellDef class="header-cell">P</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.p }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="gf">
                  <mat-header-cell *matHeaderCellDef class="header-cell">GF</mat-header-cell>
                  <mat-cell *matCellDef="let element" matRipple class="column">{{ element.gf }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="gc">
                  <mat-header-cell *matHeaderCellDef class="header-cell">GC</mat-header-cell>
                  <mat-cell *matCellDef="let element" class="alternate-column" matRipple>{{ element.gc }}</mat-cell>
                </ng-container>
    
                <ng-container matColumnDef="dif">
                  <mat-header-cell *matHeaderCellDef class="header-cell">DIF</mat-header-cell>
                  <mat-cell *matCellDef="let element" matRipple class="column">{{ element.dif }}</mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-row" matRipple (click)="onRowClick(row)"></mat-row>
              </table>
            </div>
          </ng-template>
        </ng-container>
        
        <!-- FASE 2 -->
        <ng-template #phase2Content>
          <div class="bracket">
            <div class="round">
              <h2>SEMI FINAL</h2>
              <div class="match">
                <span>Equipo A</span>
                <span>x</span>
                <span>Equipo B</span>
                <div class="connector-left"><div class="vertical-line"></div></div>
              </div>
              <div class="match">
                <span>Equipo C</span>
                <span>x</span>
                <span>Equipo D</span>
                <div class="connector-left"><div class="vertical-line-inverse"></div></div>
              </div>
            </div>
            <div class="round">
              <h2>FINAL</h2>
              <div class="match">
                <span>Ganador 1</span>
                <span>x</span>
                <span>Ganador 2</span>
                <div class="connector-right"></div>
              </div>
            </div>
          </div>        
        </ng-template>
  </div>