<div class="row mt-4">
    <div class="col-6 mb-3 mb-sm-0">
        <div class="card" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-trophy" viewBox="0 0 16 16">
                        <path
                            d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935M3.504 1q.01.775.056 1.469c.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.5.5 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667q.045-.694.056-1.469z" />
                    </svg>
                    Campeonato unico
                </h5>
                <p class="card-text">Campaonato con una sola modalidad y una sola categoria</p>
                <button type="button" class="btn btn-success" (click)="openAddCampeonatoDialog()">
                    Seleccionar
                </button>
                <!-- Dialog Template -->
                <ng-template #campeonatoDialog class="modal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">{{ isEditing ? 'Editar Campeonato' : 'Añadir Campeonato' }}</h1>
                                <button type="button" class="close" (click)="closeDialog()">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="campeonatoForm" class="form-horizontal">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="tituloCampeonato">Titulo del Campeonato</label>
                                            <input id="tituloCampeonato" type="text" class="form-control" formControlName="tituloCampeonato">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="organizadorNombre">Nombre del Organizador</label>
                                            <input id="organizadorNombre" type="text" class="form-control"
                                                formControlName="organizadorNombre">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="nombreHonorifico">Nombre Honorifico</label>
                                            <input id="nombreHonorifico" type="text" class="form-control" formControlName="nombreHonorifico">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="fechaInicio">Fecha de Inicio</label>
                                            <input id="fechaInicio" type="date" class="form-control"
                                                formControlName="fechaInicio">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="fechaFin">Fecha de Finalizacion</label>
                                            <input id="fechaFin" type="date" class="form-control"
                                                formControlName="fechaFin">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="organizadorNumero">Teléfono del Organizador</label>
                                            <input id="organizadorNumero" type="text" class="form-control" formControlName="organizadorNumero">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="organizadorEmail">Email del organizador</label>
                                            <input id="organizadorEmail" type="email" class="form-control" formControlName="organizadorEmail">
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-success" (click)="saveCampeonato()">
                                    Guardar</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="height: 15rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-grid-fill" viewBox="0 0 16 16">
                        <path
                            d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z" />
                    </svg>
                    Campeonato con categorias
                </h5>
                <p class="card-text">
                    Campeonato con mas de una categoria. Por ejemplo, divisiones por edad,
                    genero, deportes u otras categorias
                </p>
                <!--Boton Sustitutorio temporal-->
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Seleccionar
                </button>
            </div>
        </div>
    </div>
</div>