.matches-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.matches-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #4caf50;
}

.dropdowns select {
  margin-right: 5px;
  display: inline;
  width: auto;
}

.no-matches {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #0379c7;
}

.match {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
  font-weight: bold;
}

.match:hover {
  background-color: #cff3a5;
  border-radius: 5px;
}

.match:last-child {
  border-bottom: none;
}

.team img {
  width: 50px;
  height: 50px;
}

.team i {
  font-size: 2rem;
  color: #757575;
}

.score {
  font-size: 1.25rem;
  font-weight: bold;
}

.group {
  font-size: 0.875rem;
  color: #757575;
}

.status.finalized {
  color: #4caf50;
  font-weight: bold;
}

.status.in-progress {
  color: #ff9800;
  font-weight: bold;
}

.status.not-started {
  color: #f44336;
  font-weight: bold;
}

.group-stage {
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
}

.bi {
  font-weight: bold;
  color: white;
  font-size: 1rem;
}

.btn {
  border: none;
}
.btn-success {
  background-color: #4caf50;
}

.btn-danger {
  background-color: #f44336;
}
