<div class="container player-management">
    <div class="container bg-success rounded-4 m-3">
        <h1 class="title bg-success text-white p-2">Equipos</h1>
    </div>

    <div class="row justify-content-center search-add-container">
        <div class="col-md-6 d-flex align-items-center mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="search-icon">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Buscar equipo" [(ngModel)]="searchTerm" (ngModelChange)="filterEquipos()">
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div *appHasRole="'Administrador'" >
                <button class="btn btn-success w-100" type="button" (click)="openAddEquipoDialog()">
                    <i class="bi bi-plus"></i> Añadir un Equipo
                </button>
            </div>
        </div>
    </div>

    <!-- Contiene el listado de los equipos -->
    <div class="container">
        <div class="row">
            <div *ngFor="let equipo of filteredEquipos" class="col-sm-6 col-md-4 col-lg-2 mb-3">
                <div class="card text-center" (click)="openEditEquipoDialog(equipo)">
                    <img src="../../assets/logoEquipo.jpg" alt="..." class="card-img-top" style="width: 100%; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ equipo.nombre }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Dialog Template -->
    <ng-template #equipoDialog class="modal bg-white" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">{{ isEditing ? 'Editar Equipo' : 'Añadir Equipo' }}</h1>
                    <button type="button" class="close" (click)="closeDialog()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="equipoForm" class="form-horizontal">
                        <div class="form-row">
                            <!--Nombre del equipo-->
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre del equipo</label>
                                <input id="nombre" type="text" class="form-control" formControlName="nombre">
                            </div>
                            <!--Email-->
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input id="email" type="email" class="form-control" formControlName="email">
                            </div>
                            <!--Delegado-->
                            <div class="form-group col-md-12">
                                <label for="delegado">Delegado(s)</label>
                                <div class="row">
                                    <!-- Primera columna: Cuadros de texto Nombres -->
                                    <div class="col-md-6">
                                        <div *ngFor="let i of [1,2,3,4,5]">
                                            <input id="cuadroTexto{{i}}" type="text" class="form-control mb-2" placeholder="Nombre #{{i}}" formControlName="delegadoNombre{{i}}">
                                        </div>
                                    </div>
                                    <!-- Segunda columna: Cuadros de números Celulares-->
                                    <div class="col-md-6">
                                        <div *ngFor="let i of [1,2,3,4,5]">
                                            <input id="cuadroTelefono{{i}}" type="tel" class="form-control mb-2" placeholder="Nro. celular #{{i}}" formControlName="delegadoTelefono{{i}}" pattern="[0-9]*">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
                <div *appHasRole="'Administrador'">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="deleteEquipo()">Quitar</button>
                        <!--<button type="button" class="btn btn-success" (click)="saveEquipo()">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>-->
                        <button type="button" class="btn btn-success" (click)="saveEquipo()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

