.player-management {
  padding: 20px;
}

.title {
  
  margin-bottom: 20px;
  background-color: #1E3A8A;
  color: white;
  border-radius: 15px;
  padding: 1.5%;
}

.search-add-container {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  align-items: center;
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  
}

.modal-body form {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  
}

.modal-body .form-row {
  width: 100%;
}

.modal-dialog {
  max-width: 500px;
  background-color: white;
}


.form-horizontal{
  justify-content: center;
}
