<table>
  <tbody>
    <tr>
      <td>
        <div style="height:1ex;overflow:hidde">&nbsp;</div>
      </td>            
      <td colspan="2" class="cabecera-eliminatorias">
        <a>Final</a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td width="170">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="15">&nbsp;</td>
      <td width="20">&nbsp;</td>
      <td width="170">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="15">&nbsp;</td>
      <td width="20">&nbsp;</td>
      <td width="170">&nbsp;</td>
      <td width="40">&nbsp;</td>
      <td width="15">&nbsp;</td>
      <td width="20">&nbsp;</td>
      <td width="170">&nbsp;</td>
      <td width="40">&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td rowspan="2" colspan="2">&nbsp;</td>
      <td rowspan="4"></td>
      <td rowspan="7"></td>
      <td colspan="2" rowspan="3"></td>
      <td rowspan="7"></td>
      <td rowspan="13"></td>
      <td colspan="2" rowspan="9"></td>
      <td rowspan="13"></td>
      <td rowspan="25"></td>
    </tr>

    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td rowspan="2" class="cuadro-equipo">
        <div class="div-equipos">
          <div><img 
            src="assets/team1-icon-voley.png"
            srcset="assets/team1-icon-voley.png"
            class="icono-equipo" 
            width="35" 
            height="35"></div>
          <div><a>{{ equipos[0].team }}</a></div>
        </div>
      </td>
      
      <td rowspan="2" class="cuadro-goles">0</td>
    </tr>
    <tr>
      <td></td>
      <td rowspan="2" colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>
      </td>
      <td rowspan="2" class="cuadro-equipo">
        <div class="div-equipos">
          <div><img 
            src="assets/team1-icon-voley.png"
            srcset="assets/team1-icon-voley.png"
            class="icono-equipo" 
            width="35" 
            height="35"></div>
          <div><a>{{ equipos[1].team }}</a></div>
        </div>
      </td>
      <td rowspan="2" class="cuadro-goles">0</td>
    </tr>          
</tbody>
</table>