


.resize-height {
    height: 100%; /* Altura completa por defecto */
}

/* En pantallas pequeñas, ajusta la altura al tamaño del botón */
@media (max-width: 800px) {
    .resize-height {
        height: 15%;
    }
}

#contenedor_esquema,
.ca-menu,
#formulario_esquema {
    margin: 0;
    padding: 0;
}