<div *ngIf="campeonato$ | async as campeonato">
  <div class="row">
      <div class="col-3">
          <div class="container-auto h-100 rounded-5  bg-white">
              <div class="row h-100 ">
                  <div class="col-auto rounded-end-5 p-4 resize-height" style="background-color: #4CAF50;">
                      <nav class="navbar navbar-expand-md navbar-light">

                          <button class="navbar-toggler" type="button" role="button" data-toggle="collapse"
                              data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                              aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                          </button>

                          <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="nav nav-pills flex-column">
                                  <!-- Área de Login -->
                                  <div class="row m-1 text-white">
                                      <div *ngIf="nuevoCampeonatoOpen">
                                          <h1 (click)="toMenu1()">
                                              <img class="rounded-circle" alt="photo"
                                                  src="https://img.freepik.com/vector-premium/icono-vector-trofeo-vector-copa-oro-mejor-ilustracion-logotipo-torneo-o-campeonato_289688-374.jpg"
                                                  width="35" height="35" />
                                              Campeonato {{ campeonato.tituloCampeonato }}
                                          </h1>
                                      </div>
                                  </div>
                                  <!-- Fin Área de Login -->
                                  <!-- Inicio de la Barra de Navegación -->
                                  <div class="row p-3 list-group h5">
                                      <li class="nav-item mt-3">
                                          <button (click)="resetMenuItems(); menuItems.inicioMenu = true" class="nav-link text-white list-group-item-action list-group-item-success p-3"
                                              aria-current="page" href="#">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                                  <path
                                                      d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                                  <path
                                                      d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z" />
                                              </svg>
                                              Inicio
                                          </button>
                                      </li>
                                      <li class="nav-item mt-3 p-2">
                                          <button (click)="resetMenuItems(); menuItems.clasificacionMenu= true" class="nav-link text-white list-group-item-action list-group-item-success p-3"
                                              aria-current="page" href="#">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                                                  <path
                                                      d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935" />
                                              </svg>
                                              Clasificación
                                          </button>
                                      </li>
                                      <li class="nav-item mt-3 p-2">
                                          <a class="nav-link text-white list-group-item-action list-group-item-success p-3"
                                              href="#">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                  <path
                                                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                              </svg>
                                              Rankings y encuestas
                                          </a>
                                      </li>
                                      <li class="nav-item mt-3 mb-5 p-2">
                                          <a class="nav-link text-white list-group-item-action list-group-item-success p-3"
                                              href="#">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                  fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                                  <path
                                                      d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                              </svg>
                                              Configuración
                                          </a>
                                      </li>
                                  </div>
                                  <div *ngIf="auth.user$ | async as user;">
                                    <h1>
                                      <img class="rounded-5 mr-2" [src]="user.picture" alt="Foto de perfil" width="50" height="50">
                                        {{user.name}}
                                    </h1>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                      <button type="button" class="btn " (click)="LogoutwithAuth0()" style="background-color: #4CAF50;">Cerrar
                                          Sesion</button>
                                  </div>
                                </div>
                                  <!-- Fin de la Barra de Navegación -->
                                  <hr>
                                  <!-- Área de Login -->
                                  <div class="row m-1 text-white h6 btn-group dropdown dropend">
                                      <div *ngIf="isLoggedIn">

                                          <ul class="dropdown-menu text-small">
                                              <li class="p-1">
                                                  <a class="dropdown-item" href="#">Nuevo campeonato</a>
                                              </li>
                                              <li class="p-1">
                                                  <a class="dropdown-item" href="#">Configuraciones</a>
                                              </li>
                                              <li class="p-1">
                                                  <a class="dropdown-item" href="#">Perfil</a>
                                              </li>
                                              <li>
                                                  <hr class="dropdown-divider">
                                              </li>
                                              <li>
                                                  <a class="dropdown-item" href="#">Cerrar sesión</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <!-- Fin Área de Login -->
                              </ul>
                          </div>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-9 mt-5">
          <div *ngIf="menuItems.inicioMenu">
              <app-inicio-menu2 [campeonato]=campeonato/>
          </div>

          <!--VISTA CLASIFICACION-->
          <div *ngIf="menuItems.clasificacionMenu">
              <div *ngIf="!esAdministrador">
                      <app-clasificacion/>
              </div>
              <div *ngIf="esAdministrador">
                  <!--SI DEPORTE ES FUTBOL-->
                  <div *ngIf="campeonato.tipoCampeonato == this.deporte.FUTBOL">
                      <div class="row">
                          <div class="col-7">
                              <div *ngIf="menuItemsCenter.vistaClasificacion">
                                  <app-clasificacion [campeonato]="campeonato"/>
                              </div>
                              <div *ngIf="menuItemsCenter.vistaPartido">
                                  <app-vista-partido/>
                              </div>
                          </div>

                          <div class="col-5">
                              <app-tabla-partidos (onVistaPartidoOpen) = "onVistaPartidoOpen()"
                                  [campeonato]=campeonato/>
                          </div>
                      </div>
                  </div>

                  <!--SI DEPORTE ES VOLEY-->
                  <div *ngIf="campeonato.tipoCampeonato == this.deporte.VOLEY">
                      <div class="row">
                          <div class="col-7">
                              <div *ngIf="menuItemsCenter.vistaClasificacion">
                                  <app-clasificacion-voley [campeonato]=campeonato/>
                              </div>
                              <div *ngIf="menuItemsCenter.vistaPartido">
                                  <app-eqvoley-vista/>
                              </div>
                          </div>

                          <div class="col-5">
                              <app-tabla-partidos-voley (onVistaPartidoOpen) = "onVistaPartidoOpen()"
                                  [campeonato]="campeonato"/>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

