<!---Esta cosa nomas es el modal que se abre al presionar editar-->>
<div class="container">
    <h2>Estadisticas del campeonato</h2>
    
    <div class="Form-group">
        <label for="G">Goles:</label>
        <input type="number" id="G" name="G" placeholder="G">
    </div>
    
    <div class="Form-group">
      <label for="J">Juegos:</label>
      <input type="number" id="J" name="J" placeholder="J">
    </div>
    
    <div class="Form-group">
      <label for="T.AM">Tarjeta Amarilla:</label>
      <input type="number" id="T.AM" name="T.AM" placeholder="T.AM">
    </div>
    
    <div class="Form-group">
      <label for="T.R">Tarjeta Roja:</label>
      <input type="number" id="T.R" name="T.R" placeholder="T.R">
    </div>
    
    <div class="Form-group">
      <label for="T.AZ">Tarjeta Azul:</label>
      <input type="number" id="T.AZ" name="T.AZ" placeholder="T.AZ">
    </div>
    
    <div class="Form-group">
      <label for="FAL">Faltas:</label>
      <input type="number" id="FAL" name="FAL" placeholder="FAL">
    </div>
    
    <div class="Form-group">
      <label for="Ass">Asistencias:</label>
      <input type="number" id="Ass" name="Ass" placeholder="ASS">
    </div>
   
    <button class="guardar-btn">Guardar</button>
  </div>