h2{
	font-size: 20px; /* Ajusta el tamaño de letra según tus preferencias */
    text-align: center;
}
.container {
  	font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    font-size: 14px;
    
}

input[type="number"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Estilos para el botón */
.guardar-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guardar-btn:hover {
    background-color: #0056b3;
}


.form-group {
    position: relative;
}

.form-group label {
    position: absolute;
    top: -8;
    left: 6px; /* Ajusta según tus necesidades */
    background-color: white; /* Asegúrate de que coincida con el fondo del formulario */
}

.form-group input {
    border: 1px solid #ccc; /* Otra opción es eliminar el borde del input */
}