<div class="background-container"></div>
<div class="login-container">
    <h2>LOGIN - CIP</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="cip">Cod. CIP:</label>
            <input type="text" id="cip" formControlName="cip">
        </div>
        <button type="submit">LOGIN</button>
    </form>
    <a href="#" (click)="login_auth0()">Ingresar como administrador </a>
</div>
