.team-image {
  width: 160px; /* Ajusta el ancho según tus necesidades */
  height: 160px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  border-radius: 50%; /* Hace la imagen circular */
}

.team-card {
  display: flex; /* Utiliza Flexbox para alinear los elementos hijos */
  flex-direction: column; /* Coloca los elementos hijos en una columna */
  align-items: center; /* Centra horizontalmente los elementos hijos */
  background-size: cover; /* Asegura que el fondo cubra todo el contenedor */
  color: rgb(255, 255, 255); /* Color del texto blanco */
  padding: 40px; /* Añade un espacio interno de 40px alrededor del contenido */
  border-radius: 100px solid #ddd; /* Aplica un borde redondeado (comentar esta línea ya que parece ser un error de sintaxis) */
}

h2 {
  padding: 7px; /* Añade un espacio interno de 7px alrededor del contenido */
  padding-left: 30px; /* Añade un espacio interno de 30px a la izquierda */
  font-size: 24px; /* Tamaño de fuente de 24px */
}
/*---------Esta es para editar el cuadro azul----------*/
.team-info {
  background: rgba(3, 2, 66, 0.74); /* Fondo de color azul oscuro con opacidad del 74% */
  padding: 10px; /* Añade un espacio interno de 10px alrededor del contenido */
  padding-right: 35px; /* Añade un espacio interno de 35px a la derecha */
  border-radius: 5px; /* Aplica un borde redondeado de 5px */
  text-align: center; /* Centra el texto horizontalmente */
  width: 300px;
}

.team-stats {
  display: flex; /* Utiliza Flexbox para alinear los elementos hijos */
  justify-content: space-around; /* Distribuye los elementos hijos de manera uniforme */
  width: 110%; /* Ancho del 110% del contenedor padre */
}

p {
  padding: 7px; /* Añade un espacio interno de 7px alrededor del contenido */
  border-radius: 5px; /* Aplica un borde redondeado de 5px */
  background: rgb(3, 2, 66); /* Fondo de color azul oscuro */
  font-size: 12px; /* Tamaño de fuente de 12px */
}