.team-logo {
  width: 24px; 
  height: 24px; 
  object-fit: cover; 
}

body {
  font-family: 'Istok Web', sans-serif;
  background: url("http://picjumbo.com/wp-content/uploads/HNCK2189-1300x866.jpg") no-repeat rgba(14, 17, 23, 1);
  background-size: cover;
  min-height: 100%;
  margin: 0;
}
.hero {
  position:relative;
   text-align: center;
   overflow: hidden;
   color: #fcfcfc;
}
.hero h1 {
  font-family: 'Holtwood One SC', serif;
  font-weight: normal;
  font-size: 5.4em;
  margin:0 0 20px;
   text-shadow:0 0 12px rgba(14, 17, 23, 0.5);
  text-transform: uppercase;
  letter-spacing:-1px;
}
.hero p {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
   color: #5CCA87;
   letter-spacing: 6px;
  text-shadow:0 0 12px rgba(14, 17, 23, 0.5);
  font-size: 1.2em;
}
.hero-wrap {
  padding: 3.5em 10px;
}
.hero p.intro {
  font-family: 'Holtwood One SC', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin-bottom:-40px;
}
.hero p.year {
  color: #fff;
   letter-spacing: 20px;
   font-size: 34px;
   margin: -25px 0 25px;
}
.hero p.year i {
  font-size: 14px;
  vertical-align: middle;
}
#bracket {
  overflow:hidden;
  background-color: rgb(255 255 255);
  /*background-color:rgba(14, 17, 23, 0.629);*/
  padding-top: 20px;
  font-size: 12px;
  padding: 40px 0;
}
.container {
  max-width: 2100px;
  margin: 0 auto;
  display:block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction:row;
  flex-direction: row;
  overflow: auto; /* Agrega una barra de desplazamiento automática */
}
.split {
  display:block;
  float:left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;

  -webkit-flex-direction:row;
  -moz-flex-direction:row;
  flex-direction:row;
}
.champion {
  float:left;
  display:block;
  width: 200px;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-align-self:center;
  align-self:center;
  padding: 230px 0\9;
  margin-left: 45px;
}
.champion i {
  color: #4CAF50;
   font-size: 45px;
  padding: 10px 0;
}
.champion i {
  width: -webkit-fill-available;
}
.round {
  display:block;
  float:left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  width:95%;
  width:30.8333%\9;
}
.round {
  width: 200px;
}
/* Richy: Lo añadí yo para controlar el trofeo */
.fa-trophy {
  text-align: center;
  padding: 230px 0\9;
}
.split-two {
}
.split-one .round {
  margin: 0px -0.5% 0 20px;
}

.split-two .round {
  margin: 0 0 0 2.5%;
}
.matchup {
  margin:0;
  width: 100%;
  padding: 10px 0;
  /*height:60px;*/
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.score {
  font-size: 11px;
  text-transform: uppercase;
  float: right;
  color: #111619;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  right: 0px;
  background: #e1e1e1;
  padding-inline: 11px;
  border: 0px solid #0000002e;
}
.team {
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  border: 1px solid #c3c3c3
}
.round-two .matchup {
  margin:0;
  height: 157px;
  padding: 50px 0;
}
.round-three .matchup {
  margin-top: 0px;
   /*height: 60px;*/
   padding: 130px 0;
}
.round-details {
  font-family: 'Roboto Condensed', sans-serif;
   font-size: 14px;
   color: #ffffff;
   background: #04167a;
  text-transform: uppercase;
  /*text-align: center;*/
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.champion li, .round li {
  /*background-color: #ca9c25;*/
  box-shadow: none;
   opacity: 0.45;
}
.current li {
  opacity: 1;
}
.current li.team {
  /*background-color: #ffffff;*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  /*opacity: 0.6;*/
}
.vote-options {
  display: block;
  height: 52px;
}
.share .container {
  margin: 0 auto;
   text-align: center;
}
.share-icon {
  font-size: 24px;
   color: #fff;
  padding: 25px;
}
.share-wrap {
  max-width: 1100px;
   text-align: center;
   margin: 60px auto;
}
.final {
  margin-block-end: 157px;
  margin-block-start: 227px;
}
.winner {
  font-weight: bold;
  color: white;
  background-color: #4caf50
}
.medal1::before {
   content: "🥇" 
}
.medal2::before {
   content: "🥈" 
}
.medal3::before {
   content: "🥉" 
}
@-webkit-keyframes pulse {
   0% {
       -webkit-transform: scale(1);
       transform: scale(1);
  }
   50% {
       -webkit-transform: scale(1.3);
       transform: scale(1.3);
  }
   100% {
       -webkit-transform: scale(1);
       transform: scale(1);
  }
}
@keyframes pulse {
   0% {
       -webkit-transform: scale(1);
       -ms-transform: scale(1);
       transform: scale(1);
  }
   50% {
       -webkit-transform: scale(1.3);
       -ms-transform: scale(1.3);
       transform: scale(1.3);
  }
   100% {
       -webkit-transform: scale(1);
       -ms-transform: scale(1);
       transform: scale(1);
  }
}
.share-icon {
  color: #fff;
   opacity: 0.35;
}
.share-icon:hover {
   opacity:1;
   -webkit-animation: pulse 0.5s;
   animation: pulse 0.5s;
}
.date {
  font-size: 10px;
   letter-spacing: 2px;
  font-family: 'Istok Web', sans-serif;
  color:#3F915F;
}
@media screen and (min-width: 981px) and (max-width: 1099px) {
   .container {
      margin: 0 1%;
  }
   .champion {
      width: 14%;
  }
   .split-one .vote-box {
      margin-left: 138px;
  }
   .hero p.intro {
      font-size: 28px;
  }
   .hero p.year {
      margin: 5px 0 10px;
  }
}
@media screen and (max-width: 980px) {
   .container {
      /*-webkit-flex-direction:column;
      -moz-flex-direction:column;
      flex-direction:column;*/
  }
   .split, .champion {
      /*width: 90%;
      margin: 35px 5%;*/
  }
   .champion {
      -webkit-box-ordinal-group:3;
      -moz-box-ordinal-group:3;
      -ms-flex-order:3;
      -webkit-order:3;
      order:3;
  }
   .split {
      border-bottom: 1px solid #b6b6b6;
       padding-bottom: 20px;
  }
   .hero p.intro {
      font-size: 24px;
  }
   .hero h1 {
      font-size: 3em;
       margin: 15px 0;
  }
   .hero p {
      font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
   .split {
      width: 95%;
      margin: 25px 2.5%;
  }
   .round {
      width:21%;
  }
   .current {
      -webkit-flex-grow:1;
      -moz-flex-grow:1;
      flex-grow:1;
  }
   .hero h1 {
      font-size: 2.15em;
       letter-spacing: 0;
      margin:0;
  }
   .hero p.intro {
      font-size: 1.15em;
      margin-bottom: -10px;
  }
   .round-details {
      font-size: 90%;
  }
   .hero-wrap {
      padding: 2.5em;
  }
   .hero p.year {
      margin: 5px 0 10px;
       font-size: 18px;
  }
}
iframe {
   border: 0px;
   height: 1000px;
   width: 1000px;
}