
    <div class="opciones-info-campeonato">
        <ul>
            <li>
                <button type="button" class="btn btn-success">
                    <span class="icono"><i class="bi bi-award"></i></span> Futbol
                </button >
            </li>
            <li>
                <button   class=" btn btn-success">
                    <span class="icono"><i class="bi bi-award"></i></span> Voley
                </button >
            </li>
            <li>
                <button   class="btn btn-success">
                    <span class="icono"><i class="bi bi-award"></i></span> Basket
                </button >
                
            </li>
        </ul>
    </div>

