<div class="container my-0 text-center text-white rounded-2 bg-success">
    <p class="p-1 h3 strong">Partido N° {{numPartido}}</p>
</div>
<div class="container my-4 mt-0 text-center bg-body-tertiary rounded-3">
    <div class="d-flex justify-content-center align-items-center mb-3">
        <div class="p-2">
            <img src="https://img.freepik.com/vector-premium/icono-vector-trofeo-vector-copa-oro-mejor-ilustracion-logotipo-torneo-o-campeonato_289688-374.jpg" alt="Equipo1" class="icon rounded-circle">
            <p class="my-2">{{nameTeam1}}</p>
        </div>
        <div class="p-2 pt-0 border border-success border-2 rounded-3 my-3 mx-5">
            <h1 class="display-4 my-2">{{golesE1.length}} : {{golesE2.length}}</h1>
            <strong class="text-success-emphasis ">{{estadoPartido}}</strong>
        </div>
        <div class="p-2">
            <img src="https://img.freepik.com/vector-premium/icono-vector-trofeo-vector-copa-oro-mejor-ilustracion-logotipo-torneo-o-campeonato_289688-374.jpg" alt="Equipo2" class="icon rounded-circle">
            <p class="my-2">{{nameTeam2}}</p>
        </div>
    </div>
</div>
  
    <div class="container bg-body-tertiary rounded-2">
        <p class="pt-3 h5">Jugadores</p>
        <hr> <!--Linea separadora-->
        <div class="row justify-content-evenly" >
            <div class="col-md-6 mb-3">
                <!--inicio Card jugadores Equipo 1-->
                <div class="card m-1" *ngFor="let player of playersEquip1">
                    <div class="row px-2 py-0" *ngIf="player.goles !== 0 || player.golesContra !== 0 || player.tarj_red !== 0 || player.tarj_yellow !==0 || player.tarj_blue !==0 || player.cambios !== null ">
                        <div class="col-md-2 g-0 m-1" style="max-width: 70px">
                            <img src="https://static.vecteezy.com/system/resources/previews/014/165/698/non_2x/soccer-player-flat-icon-vector.jpg" class="card-img-top img-thumbnail icon" alt="jugador">
                        </div>
                        <div class="col-md-9 g-0 align-self-center">
                            <div class="card-body g-0 px-0">
                                <div class="container g-0">
                                    <div class="row">
                                      <div class="col-md-auto align-self-center">
                                        {{ player.numero }}
                                      </div>
                                      <div class="col-md-auto align-self-center">
                                        {{ player.nombre }}
                                      </div>
                                      <div class="col-md-auto align-self-center">
                                        <ng-container *ngFor="let i of getArray(player.goles)">
                                            <i class="icon-gol" title="Gol"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.golesContra)">
                                            <i class="icon-gol-contra" title="Gol en contra"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.faltas)">
                                            <i class="icon-falta" title="Falta"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.tarj_red)">
                                            <i class="icon-tarjeta-roja" title="Tarjeta roja"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.tarj_yellow)">
                                            <i class="icon-tarjeta-amarilla" title="Tarjeta amarilla"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.tarj_blue)">
                                            <i class="icon-tarjeta-azul" title="Tarjeta azul"></i>
                                        </ng-container>
                                        <ng-container *ngIf="player.cambios == 'entrada'">
                                            <i class="icon-cambio-entrada" title="Entrada a cancha"></i>
                                        </ng-container>
                                        <ng-container *ngIf="player.cambios == 'salida'">
                                            <i class="icon-cambio-salida" title="Salida de cancha"></i>
                                        </ng-container>
                                    </div>
                                    
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--fin Card jugador-->
            </div>
            <div class="col-md-6 mb-3">
                <!--inicio Card jugadors Equipo 2-->
                <div class="card m-1" *ngFor="let player of playersEquip2">
                    <div class="row px-2 py-0" *ngIf="player.goles !== 0 || player.golesContra !== 0 || player.tarj_red !== 0 || player.tarj_yellow !==0 || player.tarj_blue !==0 || player.cambios !== null ">
                        <div class="col-md-2 g-0 m-1">
                            <img src="https://static.vecteezy.com/system/resources/previews/014/165/698/non_2x/soccer-player-flat-icon-vector.jpg" class="card-img-top img-thumbnail icon" alt="jugador">
                        </div>
                        <div class="col-md-9 g-0 align-self-center">
                            <div class="card-body g-0 px-0">
                                <div class="container g-0">
                                    <div class="row">
                                      <div class="col-md-auto align-self-center">
                                        {{ player.numero }}
                                      </div>
                                      <div class="col-md-auto align-self-center">
                                        {{ player.nombre }}
                                      </div>
                                      <div class="col-md-auto align-self-center">
                                        <ng-container *ngFor="let i of getArray(player.goles)">
                                            <i class="icon-gol" title="Gol"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.golesContra)">
                                            <i class="icon-gol-contra" title="Gol en contra"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.faltas)">
                                            <i class="icon-falta" title="Falta"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.tarj_red)">
                                            <i class="icon-tarjeta-roja" title="Tarjeta roja"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.tarj_yellow)">
                                            <i class="icon-tarjeta-amarilla" title="Tarjeta amarilla"></i>
                                        </ng-container>
                                        <ng-container *ngFor="let i of getArray(player.tarj_blue)">
                                            <i class="icon-tarjeta-azul" title="Tarjeta azul"></i>
                                        </ng-container>
                                        <ng-container *ngIf="player.cambios == 'entrada'">
                                            <i class="icon-cambio-entrada" title="Entrada a cancha"></i>
                                        </ng-container>
                                        <ng-container *ngIf="player.cambios == 'salida'">
                                            <i class="icon-cambio-salida" title="Salida de cancha"></i>
                                        </ng-container>
                                    </div>
                                    
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--fin Card jugador-->      
            </div>
        </div>
    </div>

    <div class="container my-4 bg-body-tertiary rounded-2">
        <p class="pt-3 h5">Jugadas del partido</p>
        
        <hr>

        <div class="row">
            <div class="col-xl-6 col-md-12 w-100" *ngIf="golesE1.length > 0 || golesE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-futbol fa-4x me-4 text-black" style="font-weight: 400;"></i>
                                </div>
                                <div>
                                    <p class="h6">Goles</p>
                                    <ul class="list-group list-group-flush" *ngIf="golesE1.length > 0">
                                        <li class="list-group-item" *ngFor="let gol of golesE1">
                                          Jugador: {{jugadoresE1[gol.jugadorId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="golesE2.length > 0">
                                        <li class="list-group-item" *ngFor="let gol of golesE2">
                                          Jugador: {{jugadoresE2[gol.jugadorId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{golesE1.length+golesE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 w-100" *ngIf="golesContraE1.length > 0 || golesContraE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-futbol fa-4x me-4 text-danger" style="font-weight: 400;"></i>
                                </div>
                                <div>
                                    <p class="h6">Goles en contra</p>
                                    <ul class="list-group list-group-flush" *ngIf="golesContraE1.length > 0">
                                        <li class="list-group-item" *ngFor="let gol of golesContraE1">
                                          Jugador: {{jugadoresE1[gol.jugadorId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="golesContraE2.length > 0">
                                        <li class="list-group-item" *ngFor="let gol of golesContraE2">
                                          Jugador: {{jugadoresE2[gol.jugadorId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{golesContraE1.length+golesContraE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-6 col-md-12 w-100" *ngIf="faltasE1.length > 0 || faltasE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-exclamation-triangle fa-4x me-4 text-black"></i>
                                </div>
                                <div>
                                    <p class="h6">Faltas</p>
                                    <ul class="list-group list-group-flush" *ngIf="faltasE1.length > 0">
                                        <li class="list-group-item" *ngFor="let falta of faltasE1">
                                          Jugador: {{jugadoresE1[falta.jugadorId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="faltasE2.length > 0">
                                        <li class="list-group-item" *ngFor="let falta of faltasE2">
                                          Jugador: {{jugadoresE2[falta.jugadorId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{faltasE1.length+faltasE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 w-100" *ngIf="tarjetasRojasE1.length > 0 || tarjetasRojasE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-square fa-4x me-4 text-danger"></i>
                                </div>
                                <div>
                                    <p class="h6">Tarjetas rojas</p>
                                    <ul class="list-group list-group-flush" *ngIf="tarjetasRojasE1.length > 0">
                                        <li class="list-group-item" *ngFor="let tarjeta of tarjetasRojasE1">
                                          Jugador: {{jugadoresE1[tarjeta.jugadorId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="tarjetasRojasE2.length > 0">
                                        <li class="list-group-item" *ngFor="let tarjeta of tarjetasRojasE2">
                                          Jugador: {{jugadoresE2[tarjeta.jugadorId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{tarjetasRojasE1.length + tarjetasRojasE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 w-100" *ngIf="tarjetasAmarillasE1.length > 0 || tarjetasAmarillasE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-square fa-4x me-4 text-warning"></i>
                                </div>
                                <div>
                                    <p class="h6">Tarjetas amarillas</p>
                                    <ul class="list-group list-group-flush" *ngIf="tarjetasAmarillasE1.length > 0">
                                        <li class="list-group-item" *ngFor="let tarjeta of tarjetasAmarillasE1">
                                          Jugador: {{jugadoresE1[tarjeta.jugadorId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="tarjetasAmarillasE2.length > 0">
                                        <li class="list-group-item" *ngFor="let tarjeta of tarjetasAmarillasE2">
                                          Jugador: {{jugadoresE2[tarjeta.jugadorId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{tarjetasAmarillasE1.length + tarjetasAmarillasE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 w-100" *ngIf="tarjetasAzulesE1.length > 0 || tarjetasAzulesE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-square fa-4x me-4" style="color: blue;"></i>
                                </div>
                                <div>
                                    <p class="h6">Tarjetas azules</p>
                                    <ul class="list-group list-group-flush" *ngIf="tarjetasAzulesE1.length > 0">
                                        <li class="list-group-item" *ngFor="let tarjeta of tarjetasAzulesE1">
                                          Jugador: {{jugadoresE1[tarjeta.jugadorId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="tarjetasAzulesE2.length > 0">
                                        <li class="list-group-item" *ngFor="let tarjeta of tarjetasAzulesE2">
                                          Jugador: {{jugadoresE2[tarjeta.jugadorId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{tarjetasAzulesE1.length + tarjetasAzulesE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 w-100" *ngIf="sustitucionesEntraE1.length > 0 || sustitucionesEntraE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-arrow-right fa-4x me-4 text-success"></i>
                                </div>
                                <div>
                                    <p class="h6">Cambios de entrada</p>
                                    <ul class="list-group list-group-flush" *ngIf="sustitucionesEntraE1.length > 0">
                                        <li class="list-group-item" *ngFor="let susti of sustitucionesEntraE1">
                                          Jugador: {{jugadoresE1[susti.jugadorEntraId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="sustitucionesEntraE2.length > 0">
                                        <li class="list-group-item" *ngFor="let susti of sustitucionesEntraE2">
                                          Jugador: {{jugadoresE2[susti.jugadorEntraId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{sustitucionesEntraE1.length + sustitucionesEntraE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 w-100" *ngIf="sustitucionesSaleE1.length > 0 || sustitucionesSaleE2.length > 0">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-md-1">
                            <div class="d-flex flex-row">
                                <div class="align-self-center">
                                    <i class="fas fa-arrow-left fa-4x me-4 text-danger"></i>
                                </div>
                                <div>
                                    <p class="h6">Cambios de salida</p>
                                    <ul class="list-group list-group-flush" *ngIf="sustitucionesSaleE1.length > 0">
                                        <li class="list-group-item" *ngFor="let susti of sustitucionesSaleE1">
                                          Jugador: {{jugadoresE1[susti.jugadorSaleId]}} - Equipo: {{nameTeam1}}
                                        </li>
                                    </ul>
                                    <ul class="list-group list-group-flush" *ngIf="sustitucionesSaleE2.length > 0">
                                        <li class="list-group-item" *ngFor="let susti of sustitucionesSaleE2">
                                          Jugador: {{jugadoresE2[susti.jugadorSaleId]}} - Equipo: {{nameTeam2}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <h2 class="h3 mb-0">{{sustitucionesSaleE1.length + sustitucionesSaleE2.length}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
  