.icon {
    width: 70px;
    height: 70px;
}
  
.card {
    margin-bottom: 20px;
}
  
.list-group-item {
    margin-bottom: 10px;
}

.icon-gol::before {
    content: "⚽";
    display: inline-block;
    font-style: normal;
  }
  
  .icon-gol-contra::before {
    content: "⭕";
    display: inline-block;
    font-style: normal;
  }

  .icon-falta::before {
    content: "❌";
    display: inline-block;
    font-style: normal;
  }
  
  .icon-tarjeta-roja::before {
    content: "🟥";
    display: inline-block;
    font-style: normal;
  }
  
  .icon-tarjeta-amarilla::before {
    content: "🟨";
    display: inline-block;
    font-style: normal;
  }
  
  .icon-tarjeta-azul::before {
    content: "🟦";
    display: inline-block;
    font-style: normal;
  }

  .icon-cambio-entrada::before {
    content: "↗";
    padding: 1px 5px;
    margin: 2px;
    background-color: greenyellow;
    color: #fff;
    display: inline-block;
    font-style: normal;
  }

  .icon-cambio-salida::before {
    content: "↙";
    padding: 1px 5px;
    margin: 2px;
    background-color: green;
    color: #fff;
    display: inline-block;
    font-style: normal;
  }