<div>
  <div class="buttons-container">
    <h2>Deportes</h2>
    <div *ngFor="let deporte of deportes">
      <button (click)="abrirModalCrearCampeonato(deporte)" class="deporte-button">{{ deporte.nombre }}</button>
    </div>
  </div>  
</div>
