.buttons-container {
  position: relative;
  z-index: 1;
  width: 300px;
  margin: 0px auto;
  padding: 30px;
  border: 0px solid #ddd;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}
.deporte-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  text-align: left;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deporte-button:hover {
  background-color: #4CAF50;
}
