<div [ngClass]="{'disabled': viewMode === 'user'}" class="match-summary" >
  <div class="team-icon">
    <img [src]="match.equipo1.icon1" alt="Team 1 Icon">
    <div class="team-nam" >{{  match.equipo1.nombre }}</div>
  </div>

  <div class="state" [ngClass]="getStateClass(match.tipoResultado)">
    <div class="score">
      <span>{{ match.marcadorEquipo1 }}</span>
      <span>:</span>
      <span>{{ match.marcadorEquipo2 }}</span>
    </div>
    {{ match.tipoResultado }}
  </div>

  <div class="team-icon">
    <img [src]="match.equipo2.icon2" alt="Team 2 Icon" >
    <div class="team-nam">{{ match.equipo2.nombre }}</div>
  </div>
</div>
