.matches-container {
  padding: 10px;
}

.match-summary {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  animation: slideIn 0.5s;
  transition: background-color 0.3s;
}

.match-summary:hover {
  background-color: #dddddd33;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.state {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.state.no-realizado {
  color: rgb(2, 2, 2);
  /*background-color: #bdbcbc;*/
}

.state.en-vivo {
  color: #ff9800;;
}

.state.preparacion{
  color: #f44336;
}

.state.finalizado {
  color: #4caf50;
}
.team-icon{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
}
.team-icon img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

.score {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border: 1px solid #bdbcbc;
  background-color: #eee;
  color: black;
  justify-content: space-evenly;
}

.score span {
  margin: 0 5px;
}

.team-nam {
  margin-top: 1px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.DatosPart h6 {
  margin: 0;
  align-items: center;
  font-size: 10px;
  color: #333;
  margin-top: auto;
  max-width: auto;
  background-color: #bdbcbc;
}

/* Media Queries */
@media (max-width: 480px) {
  .match-summary {
    flex-direction: column;
    
  }
  
  .team-icon {
    display: flex;
    align-items: center;
  }
  
  .team-icon img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
  }
  
  .score {
    font-size: 12px;
    padding: 5px;
    border: none;
  }
  
  .state {
    font-size: 10px;
    padding: 5px;
    
  }
}

@media (max-width: 375px) {
  .match-summary {
    padding: 5px;
  }
  
  .team-icon img {
    width: 40px;
    height: 40px;
    margin: 0 2px;
  }
  
  .score {
    font-size: 10px;
  }
  
  .state {
    font-size: 8px;
  }
}
