<!-- editable-box.component.html -->
<div class="editable-box">
  <!--  Título de la caja -->
  <div class="title-container d-flex justify-content-between align-items-center" (click)="toggle()">
    <h3 class="m-0">{{ title }}</h3>
    <button class="btn btn-success btn-sm" (click)="addItem()" [hidden]="isHidden"><i class="bi bi-plus-lg"></i></button>
  </div>

  <!--  Contenido de la caja -->
  <ul *ngIf="isOpen" class="list-unstyled mt-3" style="max-height: 150px; overflow-y: auto;">
    <li *ngFor="let item of items; let i = index" class="align-items-center mb-2">
      <!-- Caja de tarjetas -->
      <ng-container
        *ngIf="tipoEditable == this.tipoEditableBox.CARD_BOX"
      >
        <ng-container
          *ngTemplateOutlet="
            cardBoxTemplate;
            context: {
              items: items,
              i: i
            }
          "
        />
      </ng-container>

      <!-- Caja de Alineación -->
      <ng-container
        *ngIf="tipoEditable == this.tipoEditableBox.ALINEACION"
      >
        <ng-container
          *ngTemplateOutlet="
            alineacionTemplate;
            context: {
              items: items,
              i: i
            }
          "
        />
      </ng-container>

      <!--CAJA GENERAL-->
      <ng-container
        *ngIf="tipoEditable == this.tipoEditableBox.GENERAL"
      >
        <ng-container
          *ngTemplateOutlet="
            generalTemplate;
            context: {
              items: items,
              i: i
            }
          "
        />
      </ng-container>

      <!-- Caja de Sustituciones -->
      <ng-container
        *ngIf="tipoEditable == this.tipoEditableBox.SUSTITUCION"
      >
        <ng-container
          *ngTemplateOutlet="
            sustitucionTemplate;
            context: {
              items: items,
              i: i
            }
          "
        />
      </ng-container>
    </li>
  </ul>
</div>

<ng-template
  #generalTemplate
  let-items="items"
  let-i="i"
  >

  <div class="d-flex align-items-center">
    <select
      [(ngModel)]="items[i].jugadorId"
      [disabled]="isDisabled"
      class="form-select d-inline me-2">
      <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
    </select>

    <button class="btn btn-danger btn-sm" (click)="removeItem(i)" [hidden]="isHidden">
      <i class="bi bi-dash-lg"></i>
    </button>        
  </div>
</ng-template>

<ng-template
  #alineacionTemplate
  let-items="items"
  let-i="i"
  >

  <div class="d-flex align-items-center">
    <input
      [(ngModel)]="items[i].codCIP"
      [disabled]="isDisabled"
      (input)="onCipChange(i)"
      placeholder="CIP"
      class="form-control d-inline-flex me-2"
      maxlength="8"
      pattern="[0-9]{8}"
      type="number"
      min="0" 
      oninput="if (this.value.length > 8) this.value = this.value.slice(0, 8)"
    />

    <!-- Campo Nombre del Jugador o Input en lugar del Select -->
    <input
      [(ngModel)]="items[i].nombre"
      [disabled]="true"
      placeholder="Nombre del Jugador"
      class="form-control d-inline-flex me-2"
    />

    <!-- Campo Número de Camiseta -->
    <input
      [(ngModel)]="items[i].numeroCamiseta"
      [disabled]="isDisabled" placeholder="N°"
      class="form-control w-auto me-2"
      pattern="[0-9]{3}"
      type="number"
      min="0"
      max="999"
      oninput="if (this.value.length > 3) this.value = this.value.slice(0, 3)"
    />

    <button class="btn btn-danger btn-sm" (click)="removeItem(i)" [hidden]="isHidden">
      <i class="bi bi-dash-lg"></i>
    </button>        
  </div>
</ng-template>

<ng-template
  #cardBoxTemplate
  let-items="items"
  let-i="i"
  >
  <div
    class="d-flex align-items-center"
    >
    <button
      class="btn btn-link text-secondary p-0 mx-1"
      *ngIf="!isDisabled"
      (click)="changeCardType(i, -1)"
      >
      <i class="bi bi-chevron-left"></i>
    </button>

    <span class="card-icon" [ngClass]="getCardClass(items[i].color)"></span>

    <button
      class="btn btn-link text-secondary p-0 mx-1"
      *ngIf="!isDisabled"
      (click)="changeCardType(i, 1)"
      >
      <i class="bi bi-chevron-right"></i>
    </button>

    <select
      [(ngModel)]="items[i].jugadorId"
      [disabled]="isDisabled"
      class="form-select mr-2"
      >
      <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
    </select>

    <button
      class="btn btn-danger btn-sm"
      (click)="removeItem(i)"
      [hidden]="isHidden"
      >
      <i class="bi bi-dash-lg"></i>
    </button>
  </div>
</ng-template>

<ng-template
  #sustitucionTemplate
  let-items="items"
  let-i="i"
  >
  <div
    class="d-flex align-items-center"
    >
    <!-- Jugador que entra -->
    <select
      [(ngModel)]="items[i].jugadorEntraId"
      (ngModelChange)="onPlayerChange(i, 'entra')"
      class="form-select mr-2">
      <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
    </select>
    <span class="mx-2">por</span>

    <!-- Jugador que sale -->
    <select [(ngModel)]="items[i].jugadorSaleId"
      (ngModelChange)="onPlayerChange(i, 'sale')"
      class="form-select mr-2"
      >
      <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
    </select>
    <button
      class="btn btn-danger btn-sm"
      (click)="removeItem(i)"
      [hidden]="isHidden"
      >
      <i class="bi bi-dash-lg"></i>
    </button>
  </div>
</ng-template>
