<h2>Seleccionar Estado</h2>
<label>
    <input type="radio" name="state" value="No realizado" [(ngModel)]="data.state"> No realizado
</label>
<label>
    <input type="radio" name="state" value="En vivo" [(ngModel)]="data.state"> En vivo
</label>
<label>
    <input type="radio" name="state" value="Finalizado" [(ngModel)]="data.state"> Finalizado
</label>
<button (click)="onNoClick()">Cancelar</button>
<button (click)="onSaveClick()">Guardar</button>
