<div class="matches-container container">
  <div class="matches-header mb-3">
    <div class="row align-items-center">
      <div class="col">
        <h2>Partidos</h2>
      </div>
      <div class="col-auto">
        <button *ngIf="phase === 'eliminatorias'" class="btn btn-success mr-1" (click)="regresarAFaseGrupos()">
          Grupos
        </button>

        <button *ngIf="phase === 'grupos'" class="btn btn-success" (click)="finalizarFase()"
          [hidden]="eliminatoriaDates.length === 0 && !esAdministrador ">
          Eliminatorias
        </button>
      </div>
      <app-confirmation-popup #phaseChange [message]="'¿Estás seguro de crear la fase Eliminatorias?'"
        (confirmAction)="handleConfirmarFinalizacion()">
      </app-confirmation-popup>
      <!-- Mensaje de confirmación tras cambiar fase -->
      <app-confirmation #phaseChanged></app-confirmation>
    </div>
    <div class="row align-items-center mt-2 justify-content-center">
      <div class="col-auto">
        <div class="dropdowns d-flex">
          <!-- Selección de fecha -->
          <ng-select *ngIf="phase === 'grupos'" [items]="matchDates" bindValue="fecha" [(ngModel)]="selectedDate"
            [clearable]="false" class="me-2" (change)="onDateChange($event)">
            <ng-template ng-label-tmp let-item="item" let-index="index">
              {{ getDateLabel(item) }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
              {{ getDateLabelByIndex(index) }}
            </ng-template>
          </ng-select>
          <select *ngIf="phase === 'eliminatorias'" class="form-select me-2" [(ngModel)]="selectedEliminatoriaPhase"
            (change)="onDateSelectChange($event)">
            <option *ngFor="let fase of eliminatoriaPhases" [value]="fase">{{ fase }}</option>
          </select>
          <!-- Input de fecha formateada -->
          <input *ngIf="phase === 'grupos'" type="date" class="form-control me-2" [(ngModel)]="selectedDate"
            (change)="onDateChange($event)" [disabled]="eliminatoriasCreated === true" />

          <!-- Botón para eliminar fecha -->
          <ng-container *appHasRole="'Administrador'">
            <button *ngIf="phase === 'grupos' && matchDates.length > 0" class="btn btn-danger me-2"
              (click)="removeFecha(selectedDate!)" [hidden]="eliminatoriasCreated === true">
              <i class="bi bi-dash-lg"></i>
            </button>
          </ng-container>

          <!-- Popup de confirmación para eliminar fecha -->
          <app-confirmation-popup #confirmationPopup
            [message]="'¿Estás seguro de eliminar la fecha y todos sus partidos?'"
            (confirmAction)="handleConfirmDelete()" (cancelAction)="handleCancelDelete()">
          </app-confirmation-popup>

          <!-- Mensaje de confirmación tras eliminar -->
          <app-confirmation #confirmation [message]="'Fecha Removida Exitosamente!'" type="success"></app-confirmation>
        </div>
      </div>
    </div>
  </div>
  <ng-container *appHasRole="'Administrador'">
    <button *ngIf="(selectedDate && phase === 'grupos') && eliminatoriasCreated === false"
      class="btn btn-success w-100 mb-2" (click)="addMatch(1)">AGREGAR PARTIDO
    </button>
  </ng-container>

  <div *ngIf="matchDates.length === 0 && eliminatoriasCreated === false" class="no-matches">No hay partidos</div>

  <div *ngFor="let date of matchDates">
    <div *ngIf="phase === 'grupos' && date.fecha === selectedDate">
      <div *ngFor="let match of date.partidos" class="container">
        <div class="text-center">
          <!--CONTENEDOR DE UN PARTIDO-->
          <div class="match-container" (click)="showEditarPartidoModal(match)">
            <div class="row team-info justify-content-center">
              <div class="col">
                <strong>Equipos</strong>
              </div>
              <div class="col-md-auto">
                <strong>Set</strong>
              </div>
              <div [ngClass]="{
                  'score-title': match.numeroSets > 3,
                  'col': match.numeroSets <= 3,
                }">
                <strong>Puntajes</strong>
              </div>
            </div>

            <div class="team-info row">
              <!-- Título -->
              <div class="col team align-middle">
                <i class="bi bi-trophy-fill"></i>
                <span class="ms-2">{{ match.equipo1Nombre }}</span>
              </div>
              <!-- Sets -->
              <div class="set-box col-md-auto" [ngClass]="{
                  'winning': calculateSetsWon(match, 'equipo1') > calculateSetsWon(match, 'equipo2')
                  }">
                <span class="sets-won-count">
                  {{ calculateSetsWon(match, 'equipo1') }}
                </span>
              </div>
              <!-- Puntajes -->
              <div class="sets-container col">
                <div class="set-row">
                  <span class="set-box" [ngClass]="{ winner: match.puntaje11 > match.puntaje12 }">
                    <span class="set-score">{{ match.puntaje11 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(2, match)"
                    [ngClass]="{ winner: match.puntaje21 > match.puntaje22 }">
                    <span class="set-score">{{ match.puntaje21 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(3, match)"
                    [ngClass]="{ winner: match.puntaje31 > match.puntaje32 }">
                    <span class="set-score">{{ match.puntaje31 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(4, match)"
                    [ngClass]="{ winner: match.puntaje41 > match.puntaje42 }">
                    <span class="set-score">{{ match.puntaje41 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(5, match)"
                    [ngClass]="{ winner: match.puntaje51 > match.puntaje52 }">
                    <span class="set-score">{{ match.puntaje51 }}</span>
                  </span>
                </div>
              </div>
            </div>
            <!-- Info Equipo 2 -->
            <div class="team-info row">
              <!-- Título -->
              <div class="col team align-middle">
                <img src="https://i.pinimg.com/736x/27/42/60/27426087ea31270b72f6e23e92e00bf6.jpg" alt="Team Icon" />
                <span class="ms-2">{{ match.equipo2Nombre }}</span>
              </div>
              <!-- Sets -->
              <div class="set-box col-md-auto" [ngClass]="{
                    'winning': calculateSetsWon(match, 'equipo2') > calculateSetsWon(match, 'equipo1')
                  }">
                <span class="sets-won-count">
                  {{ calculateSetsWon(match, 'equipo2') }}
                </span>
              </div>
              <!-- Puntajes -->
              <div class="sets-container col">
                <div class="set-row">
                  <span class="set-box" [ngClass]="{ winner: match.puntaje11 < match.puntaje12 }">
                    <span class="set-score">{{ match.puntaje12 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(2, match)"
                    [ngClass]="{ winner: match.puntaje21 < match.puntaje22 }">
                    <span class="set-score">{{ match.puntaje22 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(3, match)"
                    [ngClass]="{ winner: match.puntaje31 < match.puntaje32 }">
                    <span class="set-score">{{ match.puntaje32 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(4, match)"
                    [ngClass]="{ winner: match.puntaje41 < match.puntaje42 }">
                    <span class="set-score">{{ match.puntaje42 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(5, match)"
                    [ngClass]="{ winner: match.puntaje51 < match.puntaje52 }">
                    <span class="set-score">{{ match.puntaje52 }}</span>
                  </span>
                </div>
              </div>
            </div>
            <!-- Estado del partido-->
            <div class="status" [ngClass]="{
                  'finalized': match.estado === partidoVoleyEstado.REALIZADO,
                  'in-progress': match.estado === partidoVoleyEstado.EN_VIVO,
                  'not-started':
                    match.estado === partidoVoleyEstado.NO_REALIZADO
                }">
              {{ match.estado }}
            </div>
            <div class="group-stage text-center">
              Grupo {{match.grupo}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let date of eliminatoriaPhaseSelectedDate">
    <div *ngIf="phase === 'eliminatorias'">
      <div *ngFor="let match of date.partidos" class="container">
        <div class="text-center">
          <!--CONTENEDOR DE UN PARTIDO-->
          <div class="match-container" (click)="showEditarPartidoModal(match)"
            [ngStyle]="getMatchBackgroundColor(match, match.fase)">
            <div class="row team-info justify-content-center">
              <div class="col">
                <strong>Equipos</strong>
              </div>
              <div class="col-md-auto">
                <strong>Set</strong>
              </div>
              <div [ngClass]="{
                  'score-title': match.numeroSets > 3,
                  'col': match.numeroSets <= 3,
                }">
                <strong>Puntajes</strong>
              </div>
            </div>

            <div class="team-info row">
              <!-- Título -->
              <div class="col team align-middle">
                <i class="bi bi-trophy-fill"></i>
                <span class="ms-2">{{ match.equipo1Nombre }}</span>
              </div>
              <!-- Sets -->
              <div class="set-box col-md-auto" [ngClass]="{
                  'winning': calculateSetsWon(match, 'equipo1') > calculateSetsWon(match, 'equipo2')
                  }">
                <span class="sets-won-count">
                  {{ calculateSetsWon(match, 'equipo1') }}
                </span>
              </div>
              <!-- Puntajes -->
              <div class="sets-container col">
                <div class="set-row">
                  <span class="set-box" [ngClass]="{ winner: match.puntaje11 > match.puntaje12 }">
                    <span class="set-score">{{ match.puntaje11 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(2, match)"
                    [ngClass]="{ winner: match.puntaje21 > match.puntaje22 }">
                    <span class="set-score">{{ match.puntaje21 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(3, match)"
                    [ngClass]="{ winner: match.puntaje31 > match.puntaje32 }">
                    <span class="set-score">{{ match.puntaje31 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(4, match)"
                    [ngClass]="{ winner: match.puntaje41 > match.puntaje42 }">
                    <span class="set-score">{{ match.puntaje41 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(5, match)"
                    [ngClass]="{ winner: match.puntaje51 > match.puntaje52 }">
                    <span class="set-score">{{ match.puntaje51 }}</span>
                  </span>
                </div>
              </div>
            </div>
            <!-- Info Equipo 2 -->
            <div class="team-info row">
              <!-- Título -->
              <div class="col team align-middle">
                <img src="https://i.pinimg.com/736x/27/42/60/27426087ea31270b72f6e23e92e00bf6.jpg" alt="Team Icon" />
                <span class="ms-2">{{ match.equipo2Nombre }}</span>
              </div>
              <!-- Sets -->
              <div class="set-box col-md-auto" [ngClass]="{
                    'winning': calculateSetsWon(match, 'equipo2') > calculateSetsWon(match, 'equipo1')
                  }">
                <span class="sets-won-count">
                  {{ calculateSetsWon(match, 'equipo2') }}
                </span>
              </div>
              <!-- Puntajes -->
              <div class="sets-container col">
                <div class="set-row">
                  <span class="set-box" [ngClass]="{ winner: match.puntaje11 < match.puntaje12 }">
                    <span class="set-score">{{ match.puntaje12 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(2, match)"
                    [ngClass]="{ winner: match.puntaje21 < match.puntaje22 }">
                    <span class="set-score">{{ match.puntaje22 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(3, match)"
                    [ngClass]="{ winner: match.puntaje31 < match.puntaje32 }">
                    <span class="set-score">{{ match.puntaje32 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(4, match)"
                    [ngClass]="{ winner: match.puntaje41 < match.puntaje42 }">
                    <span class="set-score">{{ match.puntaje42 }}</span>
                  </span>
                  <span class="set-box" *ngIf="shouldDisplaySet(5, match)"
                    [ngClass]="{ winner: match.puntaje51 < match.puntaje52 }">
                    <span class="set-score">{{ match.puntaje52 }}</span>
                  </span>
                </div>
              </div>
            </div>
            <!-- Estado del partido-->
            <div class="status" [ngClass]="{
                  'finalized': match.estado === partidoVoleyEstado.REALIZADO,
                  'in-progress': match.estado === partidoVoleyEstado.EN_VIVO,
                  'not-started':
                    match.estado === partidoVoleyEstado.NO_REALIZADO
                }">
              {{ match.estado }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL PARA EDITAR PARTIDO-->
  <div class="modal fade" id="matchModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <app-editar-resultado-voley [partido]="selectedMatch" [campeonatoId]="campeonato.id"
            (onEliminar)="handleEliminarPartido()" (onGuardar)="handleGuardarPartido()"
            [isHidden]="eliminatoriasCreated" [EquiposEliminatorias]="equiposClasificados"
            [faseInicial]="this.eliminatoriaPhases[0]" />
        </div>
      </div>
    </div>
  </div>
</div>