.matches-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.matches-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #4caf50;
}

.no-matches {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #0379c7;
}

.dropdowns select {
  margin-right: 5px;
  display: inline;
  width: auto;
}

.match-container:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.match-container:last-child {
  border-bottom: none;
}

.match {
  border-bottom: 1px solid #ddd;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sets-container {
  display: flex;
  justify-content: center;
}

.set-row {
  display: flex;
  justify-content: center;
}

.set-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
  width: 40px; /* Tamaño fijo para alineación */
  border-radius: 3px;
}

.set-box.winner {
  background-color: #4caf50;
  color: white;
}

.status {
  padding-top: 10px;
}

.status.finalized {
  color: #4caf50;
  font-weight: bold;
  text-align: center;
}

.status.in-progress {
  color: #ff9800;
  font-weight: bold;
}

.status.not-started {
  color: #f44336;
  font-weight: bold;
}

.team i {
  font-size: 1rem;
  color: #757575;
}

.team img {
  width: 20px;
  height: 20px;
}

.score-title {
  width: 50%;
  min-width: 220px;
  max-width: 244px;
  margin: 0;
  padding: 0;
}

.group-stage {
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.bi {
  font-weight: bold;
}

.btn-success {
  background-color: #4caf50;
}

.btn-danger {
  background-color: #f44336;
}

/* Estilo para los títulos */
.title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  flex-grow: 1;
}

.set-box.winning {
  background-color: #04167a; /* Color para el equipo ganador */
  color: white;
}

@media (max-width: 768px) {
  .team-info {
    flex-direction: row; /* Mantiene la fila */
    flex-wrap: wrap; /* Permite que los elementos ocupen más de una fila si es necesario */
    justify-content: space-between; /* Ajusta la separación */
    text-align: center;
  }

  .set-box {
    font-size: 1rem;
    padding: 5px;
    width: 30px; /* Reduce el tamaño de los cuadros para que entren en pantallas pequeñas */
  }
}
