<div [ngClass]="{'disabled': viewMode === 'user'}" class="match-summary">
    <div class="match">
      <div class="state" [ngClass]="getStateClass(match.estado)">
        {{ match.estado }}
        <div class="score">
          <span>{{  calculateSetsWon(match, 'equipo1')}}</span>
          <span>x</span>
          <span>{{  calculateSetsWon(match, 'equipo2') }}</span>
        </div>
      </div>
    </div>
  
    <div id="contenedor" class="divtable">
      <table id="miTabla" class="tabla">
        <tr >
          <th class="columna-estatica">
            <div class="team-icon">
            </div>
          </th>
          <th class="cabecera"*ngFor="let columna of [].constructor(match.numeroSets); let i = index" [ngClass]="getColumnClass(i)">
            Set {{ i + 1 }}
          </th>
        </tr>
        <tr>
          <td class="columna-estatica">
            <div class="team-icon">
              <img [src]="match.equipo2.icon2" alt="Team 2 Icon">
              <div class="team-nam">{{ match.equipo1.nombre }}</div>
            </div>
          </td>
          <td *ngFor="let setIndex of [].constructor(match.numeroSets); let i = index" [ngClass]="getColumnClass(i)">
            {{ getSetScore(i + 1, 'equipo1') }}
          </td>
        </tr>
        <tr>
          <td class="columna-estatica">
            <div class="team-icon">
              <img [src]="match.equipo2.icon2" alt="Team 2 Icon">
              <div class="team-nam">{{ match.equipo2.nombre }}</div>
            </div>
          </td>
          <td *ngFor="let setIndex of [].constructor(match.numeroSets); let i = index" [ngClass]="getColumnClass(i)">
            {{ getSetScore(i + 1, 'equipo2') }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  