.login-container {
    position: relative;
    z-index: 1;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo blanco con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.input-group {
    display: flex;
    align-items: center;
}
  
.input-group button {
    margin-left: 10px;
}

.form-group {
    position: relative;
}
  
.form-group i {
    position: absolute;
    top: 70%;
    right: 30px;
    transform: translateY(-50%);
    color: #666;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;   
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    margin: 10px 0;
    text-align: center;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.google-btn,
.facebook-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.google-btn:hover,
.facebook-btn:hover {
    background-color: #45a049;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
    filter: blur(5px);
    /* Ajusta el nivel de desenfoque según sea necesario */
}
.password-container {
    position: relative;
}

.password-container input {
    width: calc(100% - 40px); /* Espacio adicional para el ícono */
    padding-right: 40px; /* Espacio para el ícono */
}

.password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #333;
}
