<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <div class="background-container"></div>
  <div class="login-container">
      <h2>LOGIN - ADMIN</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
              <label for="username">Usuario:</label>
              <input type="text" id="username" formControlName="email">
          </div>
          <div class="form-group">
              <label for="password">Contraseña:</label>
              <div class="password-container">
                  <input [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="contraseña">
                  <i class="fas" [ngClass]="hidePassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
              </div>
          </div>
          <button type="submit">LOGIN</button>
          <a href="#">Iniciar como usuario estándar</a>
      </form>
  </div>
  
