<div class="container border-rect">
  <header class="d-flex align-items-center justify-content-between py-3 border-bottom bg-success">
    <button class="btn btn-link text-white back-button">
      <i class="bi bi-arrow-left" style="font-size: 2em"></i>
    </button>
    <h1 class="text-center text-white m-0" style="position: absolute; left: 50%; transform: translateX(-50%)">
      EDITAR RESULTADO
    </h1>
    <div class="col-auto">
      <button id=btnEditar class="btn btn-primary me-2" (click)="guardar()" [hidden]="(isHidden && fase === 1) || !this.isAdministrador">
        <i class="bi bi-save"></i> Guardar
      </button>
      <button id=btnEditar class="btn btn-danger" (click)="eliminarPartido()" [hidden]="(isHidden && fase === 1) || !this.isAdministrador">
        <i class="bi bi-trash"></i> Eliminar
      </button>
    </div>
  </header>

  <div class="status-score mt-4 text-center">
    <div class="status-selector mb-3 d-flex flex-row justify-content-center align-items-center"
      style="width: 100%; max-width: 800px; margin: 0 auto">
      <div class="w-50 pe-2">
        <label for="form-select" class="form-label">Estado del partido:</label>
        <select class="form-select" [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange($event)"
          id="form-select" [disabled]="!this.isAdministrador">
          <option [value]="estado.NO_REALIZADO">PREPARACION</option>
          <option [value]="estado.EN_VIVO">EN VIVO</option>
          <option [value]="estado.REALIZADO">REALIZADO</option>
        </select>
      </div>
      <div [hidden]="fase !== 1" class="w-50 pe-2">
        <label for="form-select" class="form-label">Grupo:</label>
        <select class="form-select" id="form-select"
          [disabled]="(selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO) || !this.isAdministrador">
          <option>GRUPO A</option>
          <option>GRUPO B</option>
        </select>
      </div>
      <div class="w-50 ps-2">
        <label for="numeroDeSets" class="form-label">N° de Sets:</label>
        <select id="numeroDeSets" [(ngModel)]="numeroDeSets" class="form-select" (change)="onSetsChange()"
          [disabled]="(selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO) || !this.isAdministrador">
          <option *ngFor="let set of setsOptions" [ngValue]="set">
            {{ set }} Set(s)
          </option>
        </select>
      </div>
      <div class="w-50 ps-2">
        <label for="bestPlayer" class="form-label">Mejor Jugador:</label>
        <select id="bestPlayer" [(ngModel)]="mejorJugadorId" class="form-select"
          [disabled]="(selectedStatus === estado.NO_REALIZADO || selectedStatus === estado.REALIZADO) || !this.isAdministrador">
          <option *ngFor="let player of jugadoresEnTodaAlineacion" [value]="player.id">
            {{ player.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- Contenedor de los sets -->
    <div class="text-center mb-3">
      <h2>Tablero de Puntaje</h2>
      <!-- Título de la grilla -->
      <div class="score d-flex justify-content-center align-items-center">
        <div class="carousel d-flex align-items-center">
          <h1>{{ marcador.equipo1 }}</h1>
        </div>
        <span class="mx-5 h2">:</span>
        <div class="carousel d-flex align-items-center">
          <h1>{{ marcador.equipo2 }}</h1>
        </div>
      </div>
    </div>
    <div class="teams row mt-4 justify-content-center">
      <!--COLUMNA 1-->
      <div #columna1
        class="team col-md-5 d-flex flex-column align-items-center border p-4 rounded bg-light mb-4 mb-md-0 me-md-4">
        <i class="bi bi-trophy-fill text-warning" style="font-size: 100px"></i>
        <ng-select class="selectTeam" style="margin-bottom: 20px; margin-top: 20px" [items]="allTeams"
          bindLabel="nombre" bindValue="id" placeholder="Selecciona al Equipo 1" [(ngModel)]="selectedTeam1"
          (ngModelChange)="onEquipoSeleccionado(1)" [searchable]="true"
          [disabled]="(selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO || fase > 1 && fase != getFaseValue(faseInicial)) || !this.isAdministrador">
        </ng-select>
        <div class="details w-100">
          <!-- Grilla -->
          <div class="sets-container col">
            <div class="set-row">
              <!-- Botones del set para el Equipo 1 -->
              <span class="set-box-btn" *ngFor="let set of setsArray; let i = index" (click)="onSetSeleccionado(i, 1)"
                [ngClass]="{'set-seleccionado': setsSeleccionados[i]}">
                {{ i + 1 }}°
              </span>
            </div>
          </div>
          <div class="row">
            <div class="set-row">
              <!-- Score del set generado dinámicamente -->
              <span class="set-box" *ngFor="let set of setsArray; let i = index">
                <span class="set-score">{{puntosSet1[i]}}</span>
              </span>
            </div>
          </div>


          <ng-container *ngTemplateOutlet="
              detalleTemplate;
              context: {
                numeroEquipo: 1,
                equipo: equipo1,
                partidoDetDel: partidoEquipo1DetDel
              }
            " />

        </div>
      </div>

      <!--COLUMNA 2-->
      <div class="team col-md-5 d-flex flex-column align-items-center border p-4 rounded bg-light">
        <i class="bi bi-trophy-fill text-warning" style="font-size: 100px"></i>
        <!--SELECCIONAR EQUIPO-->
        <!-- eslint-disable-next-line -->
        <ng-select class="selectTeam" style="margin-bottom: 20px; margin-top: 20px" [items]="allTeams"
          bindLabel="nombre" bindValue="id" placeholder="Selecciona al Equipo 2" [(ngModel)]="selectedTeam2"
          (ngModelChange)="onEquipoSeleccionado(2)" [searchable]="true"
          [disabled]="selectedStatus === estado.EN_VIVO || selectedStatus === estado.REALIZADO || fase > 1 && fase != getFaseValue(faseInicial) || !this.isAdministrador">
        </ng-select>
        <div class="details w-100">
          <!-- Grilla -->
          <div class="sets-container col">
            <div class="set-row">
              <!-- Botones del set para el Equipo 2 -->
              <span class="set-box-btn" *ngFor="let set of setsArray; let i = index" (click)="onSetSeleccionado(i, 2)"
                [ngClass]="{'set-seleccionado': setsSeleccionados[i]}">
                {{ i + 1 }}°
              </span>
            </div>
          </div>
          <div class="row">
            <div class="set-row">
              <!-- Score del set generado dinámicamente -->
              <span class="set-box" *ngFor="let set of setsArray; let i = index">
                <span class="set-score">{{this.puntosSet2[i]}}</span>
              </span>
            </div>
          </div>

          <ng-container *ngTemplateOutlet="
              detalleTemplate;
              context: {
                numeroEquipo: 2,
                equipo: equipo2,
                partidoDetDel: partidoEquipo2DetDel
              }
            " />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #detalleTemplate let-numeroEquipo="numeroEquipo" let-equipo="equipo" let-partidoDetDel="partidoDetDel">
  <app-editable-box-voley *ngIf="selectedStatus === estado.NO_REALIZADO" title="Alineación" [items]="equipo.alineacion"
    [itemsEliminar]="partidoDetDel.alineacion" [isDisabled]="false || !this.isAdministrador" [numeroEquipo]="numeroEquipo"
    [tipoEditable]="tipoEditableBox.ALINEACION" />

  <ng-container *ngIf="selectedStatus === estado.EN_VIVO">
    <app-editable-box-voley title="Alineación" [items]="equipo.alineacion" [itemsEliminar]="partidoDetDel.alineacion"
      [isDisabled]="true" [numeroEquipo]="numeroEquipo" [tipoEditable]="tipoEditableBox.ALINEACION" [isHidden]="true" />
    <app-editable-box-voley title="Puntos" [items]="equipo.puntos" [itemsEliminar]="partidoDetDel.puntos"
      (onCambiarPuntaje)="handleCambiarPuntaje()" [numeroEquipo]="numeroEquipo" [isDisabled]="false || !this.isAdministrador"
      [tipoEditable]="tipoEditableBox.PUNTOS_VOLEY" [isHidden]="!this.isAdministrador"/>
    <app-editable-box-voley title="Sustituciones" [tipoEditable]="tipoEditableBox.SUSTITUCION"
      [items]="equipo.sustituciones" [itemsEliminar]="partidoDetDel.sustituciones" [numeroEquipo]="numeroEquipo"
      [isDisabled]="false || !this.isAdministrador" [isHidden]="!this.isAdministrador"/>
  </ng-container>

  <ng-container *ngIf="selectedStatus === estado.REALIZADO">
    <app-editable-box-voley title="Alineación" [items]="equipo.alineacion" [isDisabled]="true"
      [numeroEquipo]="numeroEquipo" [tipoEditable]="tipoEditableBox.ALINEACION" [isHidden]="true" />
    <app-editable-box-voley title="Puntos" [items]="equipo.puntos" [isDisabled]="true" [numeroEquipo]="numeroEquipo"
      [tipoEditable]="tipoEditableBox.PUNTOS_VOLEY" [isHidden]="true" />
    <app-editable-box-voley title="Sustituciones" [tipoEditable]="tipoEditableBox.SUSTITUCION"
      [items]="equipo.sustituciones" [numeroEquipo]="numeroEquipo" [isDisabled]="true" [isHidden]="true" />
  </ng-container>
</ng-template>