::ng-deep .selectTeam.ng-select.ng-select-single {
  width: 100%; /* Mantiene el ancho del contenedor padre */
}

/* Ocultar la "x" */
::ng-deep .selectTeam.ng-select .ng-clear-wrapper {
  display: none !important; 
}

/* Estilo inicial del select como texto camuflado */
::ng-deep .selectTeam.ng-select {
  min-width: 200px;
  border: none;
  box-shadow: none;
  padding: 0;
  background-color: #e9ecef; /* Color de fondo más suave */
  color: #495057;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centrar el texto seleccionado y placeholder en el contenedor del select */
::ng-deep .selectTeam.ng-select .ng-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  border-bottom: 1px dotted #adb5bd; /* Líneas punteadas más claras */
  text-align: center;
}

/* Al hacer clic en el select, agregar borde de activación */
::ng-deep .selectTeam.ng-select.ng-select-focused .ng-select-container {
  border-bottom: 2px solid #0d6efd; /* Color de activación más claro */
  background-color: #ffffff; /* Fondo blanco al enfocar */
}

/* Ajustes en el texto " | " */
::ng-deep .selectTeam.ng-select .ng-select-container input {
  text-align: center; /* Centrar texto y cursor */
}

/* Placeholder centrado cuando no hay selección */
::ng-deep .selectTeam.ng-select .ng-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%; /* Ocupa toda la altura */
  margin: 0 10px;
  font-size: 18px;
  color: #6c757d; /* Placeholder con un color más suave */
}

/* Centrar el caret (cursor de texto) */
::ng-deep .selectTeam.ng-select .ng-input:focus {
  text-align: center;
}

::ng-deep .selectTeam.ng-select .ng-input {
  padding: 0;
}

::ng-deep .selectTeam.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0;
}

.copa-equipo {
  align-items: center;
}

.border-rect {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9; /* Fondo más claro para el borde */
}

.score .carousel button {
  background: #28a745;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px 20px; /* Aumentar padding para mejor apariencia */
  color: white;
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s;
}

.score .carousel button:hover {
  background: #218838;
}

.score h1 {
  margin: 0 10px;
  font-size: 36px;
  color: #333; /* Color del título */
}

.carousel-item {
  text-align: center;
}

.btn-outline-primary {
  font-size: 24px;
  padding: 10px 20px;
}

.header {
  position: relative;
}

.header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Estilo de la grilla */
.grid-container {
  display: grid;
  gap: 10px; /* Espacio entre las celdas */
  height: auto; /* Ajusta el tamaño automáticamente */
  padding: 10px; /* Espaciado interno para que no se pegue a los bordes */
}

/* Estilos para diferentes configuraciones de la grilla */
.set-1 {
  grid-template-columns: 1fr; /* 1 columna */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
}

.set-3 {
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
}

.set-5 {
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  grid-template-rows: repeat(2, 1fr); /* 2 filas */
}

/* Estilo de las celdas de la grilla */
.grid-item {
  background-color: #ffffff; /* Color de fondo blanco */
  border: 1px solid #ccc; /* Borde de las celdas */
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados */
  text-align: center;
  font-size: 16px;
  height: 80px; /* Altura fija para las celdas */
}

/* Estilo de los campos de entrada dentro de las celdas */
.grid-item input {
  width: 60px; /* Ajusta el ancho según tus necesidades */
  padding: 5px; /* Espaciado interno para que se vea mejor */
  border: 1px solid #ccc; /* Borde del campo de entrada */
  border-radius: 4px; /* Bordes redondeados */
  text-align: center; /* Centra el texto en el campo */
}

.sets-container {
  display: flex;
  justify-content: center;
  
}

.set-row {
  display: flex;
  justify-content: center;
}

.set-box {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
  width: 40px; /* Tamaño fijo para alineación */
  margin: 0; /* Elimina los márgenes */
  margin-bottom: 30px;
}

.set-box-btn {
  background-color: #4caf50;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 1.25rem;
  width: 40px;
  margin: 0;
  cursor: pointer;
  
}

.set-box-btn:hover {
  background-color: lightblue;
}

.set-seleccionado {
  background-color: #009fcf
}
