.editable-box {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.editable-box:hover {
  border-color: #4caf50;
  box-shadow: 0 0 10px #4caf50;
}
.card-icon {
  width: 30px;
  margin: 0 5px;
  height: 30px;
  border-radius: 15%;
}

.card-icon-yellow {
  background-color: yellow;
}

.card-icon-red {
  background-color: red;
}
.card-icon-blue {
  background-color: blue;
}

.card-icon-double-yellow {
  background-image: linear-gradient(to right, yellow 50%, red 50%);
}

.right-space {
  margin-right: 1%;
}