<!-- editable-box.component.html -->
<div class="editable-box">
  <!--  Título de la caja -->
  <div class="title-container d-flex justify-content-between align-items-center" (click)="toggle()">
    <h3 class="m-0">{{ title }}</h3>
    <button class="btn btn-success btn-sm" (click)="addItem()" [hidden]="isHidden"><i
        class="bi bi-plus-lg"></i></button>
  </div>

  <!--  Contenido de la caja -->
  <ul *ngIf="isOpen" class="list-unstyled mt-3">
    <li *ngFor="let item of items; let i = index" class="align-items-center mb-2">
      <!-- Elemento -->
      <div *ngIf="tipoEditable == this.tipoEditableBox.ALINEACION" class="d-flex align-items-center">
        <ng-container *ngTemplateOutlet="alineacionTemplate; context: {items: items, i: i}" />
      </div>

      <div *ngIf="tipoEditable == this.tipoEditableBox.GENERAL" class="d-flex align-items-center">
        <ng-container *ngTemplateOutlet="simpleTemplate; context: {items: items, i: i}" />
      </div>

      <div *ngIf="tipoEditable == this.tipoEditableBox.PUNTOS_VOLEY" class="d-flex align-items-center">
        <ng-container *ngTemplateOutlet="puntosTemplate; context: {items: items, i: i}" />
      </div>

      <div *ngIf="tipoEditable == this.tipoEditableBox.SUSTITUCION" class="d-flex align-items-center">
        <ng-container *ngTemplateOutlet="sustitucionTemplate; context: {items: items, i: i}" />
      </div>

      <ng-template #alineacionTemplate let-items="items" let-i="i">
        <!-- Campo CIP-->
        <input [(ngModel)]="items[i].codCIP" [disabled]="isDisabled" (input)="onCipChange(i)" placeholder="CIP"
          class="form-control d-inline-flex me-2" maxlength="8" pattern="[0-9]{8}" type="number" min="0"
          oninput="if (this.value.length > 8) this.value = this.value.slice(0, 8)" />

        <!-- Campo Input, muestra el jugdaor del CIP (Alineación)-->
        <input [(ngModel)]="items[i].nombre" [disabled]="true" placeholder="Nombre del Jugador"
          class="form-control d-inline-flex me-2" />

        <!-- Campo Número de Camiseta (Alineación) -->
        <input [(ngModel)]="items[i].numeroCamiseta" [disabled]="isDisabled" placeholder="N°"
          class="form-control w-auto me-2" pattern="[0-9]{3}" type="number" min="0" max="999"
          oninput="if (this.value.length > 3) this.value = this.value.slice(0, 3)" />

        <!-- Botón para remover item -->
        <button class="btn btn-danger btn-sm" (click)="removeItem(i)" [hidden]="isHidden">
          <i class="bi bi-dash-lg"></i>
        </button>
      </ng-template>

      <!-- Campo Select, Selecciona Jugadores (General)-->
      <ng-template #simpleTemplate let-items="items" let-i="i">
        <select [(ngModel)]="items[i].jugadorId" [disabled]="isDisabled" class="form-select d-inline me-2">
          <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
        </select>

        <!-- Botón para remover item -->
        <button class="btn btn-danger btn-sm" (click)="removeItem(i)" [hidden]="isHidden">
          <i class="bi bi-dash-lg"></i>
        </button>
      </ng-template>

      <ng-template #puntosTemplate let-items="items" let-i="i">
        <select [(ngModel)]="items[i].jugadorId" [disabled]="isDisabled" class="form-select d-inline me-2">
          <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
        </select>

        <input [(ngModel)]="items[i].puntos" (ngModelChange)="onPuntosChange()" [disabled]="isDisabled" placeholder="0"
          class="form-control w-auto me-2" pattern="[0-9]{2}" type="number" min="0" max="99" />

        <!-- Botón para remover item -->
        <button class="btn btn-danger btn-sm" (click)="removeItem(i)" [hidden]="isHidden">
          <i class="bi bi-dash-lg"></i>
        </button>
      </ng-template>

      <ng-template #sustitucionTemplate let-items="items" let-i="i">
        <select
          [(ngModel)]="items[i].jugadorSaleId"
          (ngModelChange)="onSustitucionChange(items[i])"
          [disabled]="items[i].isDisabled"
          class="form-select form-select-sm right-space">
          <option *ngFor="let player of players" [value]="player.id">{{ player.name }}</option>
        </select>

        <span class="right-space">por</span>

        <ng-select
          class="right-space"
          [items]="jugadoresEnEquipo"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="items[i].jugadorEntraId"
          (ngModelChange)="onSustitucionChange(items[i])"
          placeholder="Selecciona jugador"
          [searchable]="true"
          [readonly]="items[i].isDisabled">
        </ng-select>

        <input
          class="form-control w-auto right-space"
          [(ngModel)]="items[i].numeroCamiseta"
          (blur)="onSustitucionChange(items[i])"
          type="number"
          min="1"
          max="99"
          placeholder="N°"
          [disabled]="isDisabled || items[i].isDisabled" >

          <button
          class="btn btn-danger btn-sm"
          [hidden]="isHidden"
          [disabled]="true"
          (click)="removeItem(i)" >
            <i class="bi bi-dash-lg"></i>
          </button>
      </ng-template>
    </li>
  </ul>

</div>