.player-management {
    padding: 20px;
  }
  
  .title {
    
    margin-bottom: 20px;
    background-color: #1E3A8A;
    color: white;
    border-radius: 15px;
    padding: 1.5%;
  }
  
  .search-add-container {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    display: flex;
    align-items: center;
  }
  
  .modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    
  }
  
  .modal-body form {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    
  }
  
  .modal-body .form-row {
    width: 100%;
  }
  
  .modal-dialog {
    max-width: 500px;
    background-color: white;
  }
  
  
  .form-horizontal{
    justify-content: center;
  }
  
  .container-buttons-card {
    display: flex;
    gap: 20px;
    margin-right: 20px;
  }
  
  .container-buttons-card button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px #00000025;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
  }

  #added-favorite {
    color: red;
    display: none;
  }
  
  #favorite-regular.active {
    background-color: red;
    display: none;
  }
  
  #added-favorite.active {
    display: flex;
    color: red;
  }