<div class="opciones-info-campeonato bg-success">
    <ul>
        <li>
            <button (click)="vistaPartido()" type="button" class="btn btn-success" data-bs-dismiss="modal">
                <span class="icono"><i class="fas fa-list-alt"></i></span> Ver partido
            </button>

        </li>
        <li>
            <a href="#" class="opcion-link">
                <span class="icono"><i class="fas fa-cogs"></i></span> Seleccionar equipos
            </a>
        </li>
        <li>
            <a href="#" class="opcion-link">
                <span class="icono"><i class="fas fa-check"></i></span> Editar resultado
            </a>
            
        </li>
        <li>
            <a href="#" class="opcion-link">
                <span class="icono"><i class="fas fa-edit"></i></span> Editar información
            </a>
        </li>
        <li class="opcion-link restaurar">
            <a href="#" class="opcion-link">
                <span class="icono"><i class="fas fa-undo-alt"></i></span> Restaurar
            </a>
        </li>
        <li class="opcion-link quitar">
            <a href="#" class="opcion-link">
                <span class="icono"><i class="fas fa-times"></i></span> Quitar
            </a>
        </li>
    </ul>
</div>
