:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.opciones-info-campeonato {
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar el panel */
}

.opciones-info-campeonato ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.opciones-info-campeonato li {
    margin: 15px 0;
}

.opciones-info-campeonato a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease; /* Transición suave para los enlaces */
}

.opciones-info-campeonato a:hover {
    text-decoration: none;
    opacity: 0.8; /* Reduce la opacidad al pasar el ratón para un efecto sutil */
    color: #FFF; /* Cambia el color del texto al pasar el cursor */
    background-color: #66eb61;
}

.icono {
    margin-right: 10px;
    font-size: 22px;
}

.restaurar :hover {
    background-color: #c7b6b1a8 !important;
}


.quitar :hover {
    
    background-color: #ca3d48 !important;
}