/*Estilos de la tabla 8vos, 4tos y demas*/

.linea-final{
    border-width:3px 0 0;
    border-style:"solid";
    border-color: #4CAF50;
  }
  
  .linea-enmedio{
    border-width:3px 0 3px;
    border-style:"solid";
    border-color: #4CAF50;
  }
  .lineas{
    border:3px solid;
    border-left:0;
    color:#4CAF50;
  }
  .div-equipos{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cuadro-equipo{
    border:1px solid #aaa;
    background:#f9f9f9;
    padding:0 .6ex
  }
  .cuadro-goles{
    border:1px solid #aaa;
    background:#f9f9f9;
    text-align:center;
    padding-inline:5px;
  }
  .cabecera-eliminatorias{
    background:#04167a;
    text-align:center;
    border:1px solid #04167a; 
    color: white;
    white-space: nowrap;
    padding-inline: 70px;
  }
  
  
  /*Estilo de la tabla*/
  table, th, td {                 
    border-collapse: collapse;
  }
  
  th, td {
    padding-inline: 3px;
  }