/* CSS de la informacion del equipo*/
.team-content.admin-mode{
    background: url('/assets/FondoEQUIPOvoley.jpg') no-repeat center center;
    background-size: cover;
    margin: 2% auto;
    padding: 0px;
    
    width: 100%;
    /*max-width: 800px;*/ /*1020px user mode*/
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative; /* Importante para controlar la posición */ 
}

.team-content.user-mode{
    background: url('/assets/FondoEQUIPOvoley.jpg') no-repeat center center;
    background-size: cover;
    margin: 2% auto;
    padding: 0px;
    
    width: 100%;
    /*max-width: 1300px;*/ /*1020px user mode*/
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative; /* Importante para controlar la posición */
    margin-right: 50px;
}
/* CSS del boton para regresar*/
.back-button {
    position: relative;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.back-button:hover {
  transform: scale(1.2);
  color: #ffffff; /* Cambia el color al pasar el mouse */
}

/* CSS de la tabla de jugadores*/
.players-content.admin-mode{
    background-color: #fff;
    background: rgba(243, 243, 243, 0.7);
    margin: 2% auto;
    padding: 0px;
    width: 100%;
    /*max-width: 800px;*/
    border-radius: 8px;
    animation: slideIn 0.5s;
}

.players-content.user-mode{
    background-color: #fff;
    background: rgba(243, 243, 243, 0.7);
    margin: 2% auto;
    padding: 0px;
    width: 110%;
    max-width: 1300px;
    border-radius: 8px;
    animation: slideIn 0.5s;
    margin-right: 50px; 
}

/* CSS de la lista de partidos con el match*/
.match-content.admin-mode{
    background-color: #fff;
    background: rgba(255, 255, 255, 0.7);
    margin: 2% auto;
    padding: 0px;
    width: 100%;
    /*max-width: 800px;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    
}

.match-content.user-mode{
    background-color: #fff;
    background: rgba(255, 255, 255, 0.7);
    margin: 2% auto;
    padding: 0px;
    width: 110%;
    max-width: 1300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    margin-right: 50px;
}


@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }


/*Radio button para mnejar la vista de modo usuario y modo admin*/

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-label {
  margin-right: 10px;
}
