
<!--El componente que muestra la informacion del equipo-->
<div class="team-content" [ngClass]="{'admin-mode': selectedView === 'admin', 'user-mode': selectedView === 'user'}">
    <!--Boton para regresar, ssirve para regresar a la tabla de clasificacion-->
    <button class="back-button" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <app-vteam-card [team]="team"></app-vteam-card>
  </div>
  
  <!--Este solo se muestra los radio button para cambiar enrtre admin y usuario-->
  <div class="players-content" [ngClass]="{'admin-mode': selectedView === 'admin', 'user-mode': selectedView === 'user'}">
    <app-vplayer-list [players]="players" [viewMode]="selectedView"></app-vplayer-list> <!-- Pasar el modo de vista -->
  </div>
  
  <!--Este es el listado de partidos que se tiene-->
  <div class="match-content" [ngClass]="{'admin-mode': selectedView === 'admin', 'user-mode': selectedView === 'user'}">
    <app-vmatch-summary   *ngFor="let match of matches" [match]="match"  [viewMode]="selectedView"></app-vmatch-summary>
  
  