<div class="container player-management">
    <app-confirmation #confirmationSuccess [message]="'¡Jugador guardado exitosamente!'"
        [type]="'success'"></app-confirmation>
    <app-confirmation #confirmationDeleteSuccess [message]="'¡Jugador removido exitosamente!'"
        [type]="'error'"></app-confirmation>
    <div class="container bg-success rounded-4 m-3">
        <h1 class="title bg-success text-white p-2">Jugadores</h1>
    </div>
    <div class="row justify-content-between search-add-container">
        <div class="col-md-6 d-flex align-items-center mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="search-icon">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Buscar jugador" [(ngModel)]="searchTerm"
                    (ngModelChange)="filterPlayers()" />
            </div>
        </div>

        <!-- Columna para el selector de equipos -->
        <div class="col-md-4 d-flex">
            <ng-select class="w-100" [items]="equipos" bindLabel="nombre" bindValue="id" [(ngModel)]="selectedTeam"
                placeholder="Selecciona un equipo" (change)="filterByTeam()" [searchable]="true">
            </ng-select>
        </div>

        <!-- Columna para el botón de añadir jugador -->
         <ng-container *appHasRole="'Administrador'">
            <div  class="col-md-3 d-flex justify-content-end">
                <button class="btn btn-success w-100" type="button" (click)="openAddPlayerDialog()">
                    <i class="bi bi-plus"></i> Añadir un jugador
                </button>
            </div>
         </ng-container>
         <ng-container  *appHasRole="'Administrador'" >
            <div class="col-md-3 d-flex justify-content-end">
                <button class="btn btn-success w-100" type="button" (click)="openFileUploadDialog()">
                    <i class="bi bi-upload"></i> Cargar Jugadores - UsuarioCIP
                </button>
            </div>
         </ng-container>
        

    </div>

    <ng-template #fileUploadDialog>
        <div class="custom-file-upload-dialog">
            <h2 class="custom-dialog-title">Subir archivo Excel</h2>
            <p class="text-danger">
                Por favor, suba un archivo Excel con las columnas <strong>II</strong> y <strong>COLEGIADO</strong>.
            </p>
            <div class="custom-form-group">
                <label for="file" class="custom-form-label">Archivo</label>
                <input type="file" id="file" (change)="onFileSelected($event)" class="custom-form-control" required />
            </div>
            <div class="custom-form-group">
                <button (click)="uploadFile()" class="custom-btn custom-btn-success mt-3"
                    [disabled]="!selectedFile || isLoading">Subir Archivo</button>
                <button (click)="closeDialog()" class="custom-btn custom-btn-success mt-3"
                    [disabled]="isLoading ">Cancelar</button>
            </div>

            <!-- Agregar spinner de carga y barra de progreso -->
            <div *ngIf="isLoading" class="overlay">
                <div class="loading-container">
                    <mat-progress-spinner mode="indeterminate" diameter="50" class="spinner"></mat-progress-spinner>
                    <mat-progress-bar mode="determinate" [value]="progress" *ngIf="progress > 0"></mat-progress-bar>
                    <p>Procesando datos, por favor espera...</p>
                    <p>Cargando {{ progress }}%</p>                   
                </div>
            </div>
        </div>
            
    </ng-template>



    <!-- Popup de Confirmación de Guardar -->
    <app-confirmation-popup #confirmationPopup class="popup-overlay"
        [message]="'¿Estás seguro de que deseas guardar los cambios?'" (confirmAction)="onConfirmSave()"
        (cancelAction)="onCancelSave()">
    </app-confirmation-popup>

    <!-- Popup de Confirmación de Eliminar -->
    <app-confirmation-popup #confirmationDelete class="popup-overlay"
        [message]="'¿Estás seguro de que deseas eliminar este jugador?'" (confirmAction)="onConfirmDelete()"
        (cancelAction)="onCancelDelete()">
    </app-confirmation-popup>

    <div class="row">
        <table mat-table [dataSource]="dataSource" class="demo-table mat-mdc-table mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> LISTADO DE JUGADORES </th>
                <td mat-cell *matCellDef="let player" (click)="openEditPlayerDialog(player)"
                    class="clickable name-cell">
                    <span class="player-name">{{ player.name }}</span>
                    <mat-icon class="view-icon">visibility</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['name']"></tr>
            <tr mat-row *matRowDef="let player; columns: ['name'];" (click)="openEditPlayerDialog(player)"></tr>
        </table>

        <mat-paginator class="mat-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>



    <!-- Dialog Template -->
    <ng-template #playerDialog class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  modal-dialog-scrollable">
                <div class="modal-header">
                    <h1 class="modal-title">
                        {{ isEditing ? "Editar Jugador" : "Añadir Jugador" }}
                    </h1>
                    <button type="button" class="close" (click)="closeDialog()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="playerForm" class="form-horizontal">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Nombre del jugador *</label>
                                <input id="name" type="text" class="form-control" formControlName="name" />
                                <div *ngIf="playerForm.get('name')?.invalid && playerForm.get('name')?.touched"
                                    class="text-danger">
                                    Campo obligatorio
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="codCIP">COD. CIP / COD. INVITADO *</label>
                                <input id="codCIP" type="number" class="form-control" formControlName="codCIP"
                                    (input)="onCodCIPInput()" />
                                <div *ngIf="playerForm.get('codCIP')?.invalid && playerForm.get('codCIP')?.touched"
                                    class="text-danger">
                                    Campo obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="position">Posición de jugador</label>
                                <ng-select class="w-100" [items]="posiciones" bindLabel="label" bindValue="value"
                                    formControlName="position" placeholder="Selecciona una posición"
                                    [searchable]="false">
                                </ng-select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="codFam">COD. FAMILIAR</label>
                                <input id="codFam" type="number" class="form-control" formControlName="codFam" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="document">Documento</label>
                                <input id="document" type="number" class="form-control" formControlName="document" />
                                <!-- Corrige la referencia a 'playerForm' -->
                                <div *ngIf="playerForm.get('document')?.hasError('invalidDocument') && playerForm.get('document')?.touched"
                                    class="text-danger">
                                    El documento debe tener exactamente 8 dígitos.
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="birthDate">Fecha de nacimiento</label>
                                <input id="birthDate" type="date" class="form-control" formControlName="birthDate" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="phone">Teléfono</label>
                                <input id="phone" type="number" class="form-control" formControlName="phone" />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Email *</label>
                                <input id="email" type="email" class="form-control" formControlName="email" />
                                <div *ngIf="playerForm.get('email')?.invalid && playerForm.get('email')?.touched"
                                    class="text-danger">
                                    <span *ngIf="playerForm.get('email')?.errors?.['required']">Campo
                                        obligatorio.</span>
                                    <span *ngIf="playerForm.get('email')?.errors?.['email']">Formato de email no
                                        válido.</span>
                                </div>
                            </div>
                        </div>
                        <!-- Campo Capítulo con ng-select -->
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="capitulo">Capítulo</label>
                                <ng-select class="w-100" [items]="capitulos" bindLabel="label" bindValue="value"
                                    formControlName="capitulo" placeholder="Selecciona un capítulo"
                                    [searchable]="false">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="equipoID">Equipo *</label>
                                <ng-select class="w-100" [items]="equipos" bindLabel="nombre" bindValue="id"
                                    formControlName="equipoID" placeholder="Selecciona un equipo" [searchable]="true">
                                    <!-- Opción para listar todos los equipos -->
                                    <ng-option [value]="0">Todos los equipos</ng-option>
                                </ng-select>
                                <div *ngIf="playerForm.get('equipoID')?.invalid && playerForm.get('equipoID')?.touched"
                                    class="text-danger">
                                    Campo obligatorio.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="esAdministrador">
                    <div class="modal-footer">
                        <ng-container *appHasRole="'Administrador'">
                            <button type="button"  class="btn btn-secondary" *ngIf="isEditing" (click)="deletePlayer()">
                                Quitar
                            </button>
                        </ng-container>
                        
                        <button type="button" class="btn btn-secondary" *ngIf="!isEditing" (click)="onCancelSave()">
                            Cancelar
                        </button>
                        <ng-container *appHasRole="'Administrador'">
                            <button  type="button" class="btn btn-success" (click)="savePlayer()">
                                {{ isEditing ? "Actualizar" : "Guardar" }}
                            </button>
                        </ng-container>
                        
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>