.player-management {
  padding: 20px;
}

.title {
  
  margin-bottom: 20px;
  background-color: #1E3A8A;
  color: white;
  border-radius: 15px;
  padding: 1.5%;
}

.search-add-container {
   
  margin-bottom: 20px; /* Espaciado inferior */
}

.list-group-item {
  display: flex;
  align-items: center;
}

.modal-header, .modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  
}
.modal-content {
  max-height: 80vh; /* El 80% de la altura de la pantalla */
  overflow-y: auto; /* Habilita el scroll vertical */
}

.modal-body form {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  
}

.modal-body .form-row {
  width: 100%;
}

.modal-dialog {
  max-width: 500px;
  background-color: white;
}


.form-horizontal{
  justify-content: center;
}
#team-select {
  background-color: #f8f9fa; /* Color de fondo suave */
  border: 1px solid #ced4da; /* Bordes claros */
  max-height: 200px;  /* Altura máxima antes de que aparezca el scroll */
  overflow-y: auto;   /* Habilitar el scroll vertical */
}

#team-select:focus {
  border-color: #80bdff; /* Color del borde al enfocarse */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra suave al enfocarse */
}
.popup-overlay {
  position: fixed; /* Asegúrate de que el posicionamiento sea fijo o absoluto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50000; /* Un valor alto para que esté por encima de otros elementos */
  background-color: white; /* Color de fondo para el popup */
  border-radius: 10px; /* Esquinas redondeadas, opcional */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}
/* Estilo del paginador */
.mat-paginator {
  background-color: #424040; /* Fondo gris claro */
  color: #ffffff; /* Texto en verde oscuro */
  border-collapse: collapse;
  border-radius: 0 0 12px 12px; /* Redondea las esquinas de la tabla */
  overflow: hidden; /* Oculta contenido que sobresale en las esquinas */
}




.demo-table {
  width: 100%;
  border-collapse: collapse;
}
th.mat-header-cell {
  background-color: #4CAF50; /* Verde oscuro */
  
  font-weight: bold;
  padding: 12px;
  align-items: center;
}

/* Estilo de la celda del nombre */
.name-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  color: #555555;
  background-color: #b1aaaa50;
  transition: background-color 0.3s ease;
  
}

/* Estilo del nombre del jugador */
.player-name {
  flex: 1;
  color: #ffffff;
  font-weight: bold;
}
.demo-table th {    
  text-align: center;
}

/* Estilo del icono de visualización */
.view-icon {
  color: #ffffff;
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.view-icon:hover {
  color: #ffffff;
}


.demo-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px 12px 0 0; /* Redondea las esquinas de la tabla */
  overflow: hidden; /* Oculta contenido que sobresale en las esquinas */
}
.custom-file-upload-dialog {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

.custom-dialog-title {
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.custom-form-group {
  margin-bottom: 15px;
}

.custom-form-control {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%; /* Ancho completo */
}

/* Estilo normal del botón */
.custom-btn.custom-btn-success {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12 12 0 0;
  background-color: #28a745; /* Color de fondo verde */
  color: #ffffff; /* Color del texto blanco */
  border: none;
  cursor: pointer;
}


/* Estilo del botón al pasar el ratón (hover) */
.custom-btn.custom-btn-success:hover {
  background-color: #218838; /* Color de fondo en hover */
}


/* Fondo blanco para la tabla */
.demo-table {
  background-color: #198754; /* Fondo blanco */
  border-radius: 12 12 0 0; /* Bordes redondeados */
  
  color: #ffffff; /* Color de texto oscuro para mejor contraste */
}

/* Estilos para los encabezados */
.demo-table th.mat-header-cell {
  background-color: #007bff; /* Fondo azul para los encabezados */
  color: rgb(255, 255, 255); /* Texto blanco en los encabezados */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación centrada */
  padding: 16px; /* Espaciado */
}

/* Estilos para las celdas */
.demo-table td.mat-cell {
  color: #333; /* Texto oscuro para las celdas */
  padding: 12px; /* Espaciado */
}


/* Celdas clickeables, mejorar visibilidad */
.demo-table .name-cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para los íconos dentro de las celdas */
.demo-table .view-icon {
  color: #ffffff; /* Color azul para los íconos */
  cursor: pointer;
}

/* Estilos para el paginador */
.mat-paginator {
  background-color: #198754; /* Fondo claro para el paginador */
  border-top: 2px solid #0f5836; /* Bordes azules en la parte superior */
  padding: 8px; /* Espaciado */
}

/* Estilo para los botones del paginador */
.mat-paginator button {
  color: #ffffff; /* Color azul para los botones */
}

/* Estilos para los botones activos del paginador */
.mat-paginator button.mat-paginator-navigation-previous,
.mat-paginator button.mat-paginator-navigation-next {
  background-color: #ffffff;
  color: white;
}
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Spinner */
.spinner {
  margin-bottom: 20px;
}
mat-progress-bar {
  width: 100%;
  margin-top: 10px;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-container p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}
