<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Iniciar Sesión</h2>
      <div class="form-group">
        <label for="email" class="form-label">CIP</label>
        <input type="usuEmail" type="text" class="form-control" id="email" formControlName="cip">
        <div *ngIf="loginForm.controls.cip.errors?.['required'] && (loginForm.controls.cip.dirty || loginForm.controls.cip.touched)" class="text-danger small">CIP es requerido.</div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Ingresar</button>
    </div>
  </div>
</form>
