<div class="container">
    <div class="container mt-1">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center bg-light p-4 rounded">
            <h1 class="text-success text-uppercase">"{{campeonato.tituloCampeonato}}"</h1>
            <h5 class="text-secondary text-uppercase">"{{campeonato.tituloHonorifico}}"</h5>
          </div>
        </div>
      </div>
    <div class="row mt-4 ">
        <div class="card " style="height: 300px">
            <img src={{campeonato.urlImagen}} class="card-img" alt="..." style="height: 100%;">

            <div class="card-img-overlay ">
                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item bg-transparent text-light">
                        Inicio
                        <br>
                        {{campeonato.fechaInicio}}

                    </li>
                    <li class="list-group-item bg-transparent text-light">
                        Finalizacion
                        <br>
                        {{campeonato.fechaFin}}
                    </li>
                    <li class="list-group-item bg-transparent text-light">
                        Organizador
                        <br>
                        {{campeonato.organizadorNombre}}
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="container text-center">
                    <div class="row align-items-end">
                        <div class="col">
                        </div>
                        <div class="col">
                            {{privacidadTorneo}} - {{numeroSeguidores}} Seguidores
                        </div>
                        <div class="col" >
                            <div class="container-buttons-card d-inline-block">                                
                                <button class="favorite btn btn-primary rounded-5 bg-success border-success " 
                                (click)="toggleFavCamp(campeonato) ">Seguir
                                    <i
                                        class="fa-regular fa-heart"
                                        id="favorite-regular"
                                        *ngIf="!isCampeonatoFav(campeonato)"
                                    ></i>
                                    <i
                                        class="fa-solid fa-heart"
                                        id=".active"
                                        *ngIf="isCampeonatoFav(campeonato)"
                                    ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>
    <div class="row mt-5">
        <h3>Acerca de </h3>
        <ul class="list-unstyled m-3">
            <h4>Contacto:</h4>
            <ul class="list-unstyled m-3">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                    </svg>
                    {{campeonato.organizadorEmail}}
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                    </svg>
                    {{campeonato.organizadorNumero}}
                </li>
            </ul>
            <h4>Anexos</h4>
            <ul class="list-unstyled m-3">
                <a href="#">Bases Generales Olimpiadas Internas 2024</a>
            </ul>
        </ul>
    </div>
    <!--  Condicional para tipo de Campeonato -->
    <div *ngIf="campeonato.tipoCampeonato == 1">
        <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>


        <div class="row mt-5">
            <h3>Resultados de Campeonato </h3>
            <!-- Presentacion de Resultados del torneo -->
            <div class="row mt-5">
                <div class="col-sm-4 mb-3 mb-sm-0 ">
                    <span class="placeholder bg-transparent" style="width: 100%;"></span>
                    <span class="placeholder bg-transparent" style="width: 100%;"></span>
                    <div class="card text-center" style="width: 300px;">
                        <img src="../../assets/logoEquipo.jpg" class="card-img-top " alt="...">
                        <div class="card-body ">
                            <h5 class="card-title">Puesto 2</h5>
                            <p class="card-text">{{equipos[1]?.nombre}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card  text-center" style="width: 300px;">
                        <img src="../../assets/logoEquipo.jpg" class="card-img-top rounded-5" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puesto 1</h5>
                            <p class="card-text">{{equipos[0]?.nombre}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <span class="placeholder bg-transparent" style="width: 100%;"></span>
                    <span class="placeholder bg-transparent" style="width: 100%;"></span>
                    <span class="placeholder bg-transparent" style="width: 100%;"></span>
                    <span class="placeholder bg-transparent" style="width: 100%;"></span>
                    <div class="card  text-center" style="width: 300px;">
                        <img src="../../assets/logoEquipo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puesto 3</h5>
                            <p class="card-text">{{equipos[2]?.nombre}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin de presentacion de Resultados-->
        </div>
    </div>
    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>

    <!-- Contiene el listado de los equipos -->
    <div class="container mt-5">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let grupo of this.equiposEnGrupos; let i = index" class="carousel-item"
                    [ngClass]="{'active': i === 0}">
                    <div class="row justify-content-center">
                        <div *ngFor="let equipo of grupo" class="col-6 col-md-4 col-lg-2 mb-3">
                            <!-- Ajusta el tamaño de las tarjetas -->
                            <div class="card text-center">
                                <img src="../../assets/logoEquipo.jpg" alt="..." class="card-img-top"
                                    style="width: 100%; height: auto;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ equipo.nombre }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev"
                style="left: -5%;">
                <span class="text-success"><i class="bi bi-chevron-left" style="font-size: 2rem;"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next"
                style="right: -5%;">
                <span class="text-success"><i class="bi bi-chevron-right" style="font-size: 2rem;"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>
    <div class="row mt-3">
        <h3>Equipos:</h3>
        <ul class="list-group list-group-flush list-group-item-action m-3">
            <!--ACTUALIZAR BLOQUE AL CARGAR EQUIPOS-->
            <div *ngFor="let equipo of arrayCombinado" 
                style="
                    display: flex;
                    align-items: center;">
                <button type="button" class="list-group-item list-group-item-action" style="
                display: flex;
                flex-direction: row;
                align-items: center;">
                    <img src="../../assets/logoEquipo.jpg" alt="..." width="40" height="40">
                    <div>{{equipo[0]?.nombre}} </div>
                    <!--Se habilita esta parte cuando el campeonato es por grupos-->
                    <div *ngIf="equipos.length > 5" style="color: rgb(151, 148, 144);">|||</div>
                    <div *ngIf="equipos.length > 5" style="color:#4CAF50; font-weight: bold;">  {{getGrupoNombre(equipo[1]?.grupoId)}}</div>
                    
                </button>
                <div *appHasRole="'Administrador'" >
                <div  *ngIf="equipos.length > 5"> 
                    <ng-select class="selectGroup" 
                               [items] = "Grupos" 
                               bindLabel="label" 
                               bindValue="value"
                               placeholder="Asigna un grupo"
                               [searchable]="false"
                               [(ngModel)]="equipo[1].grupoId" 
                               (change)="onGrupoChange(equipo[1])">
                    </ng-select>
                </div>
            </div>
            </div>
        </ul>
    </div>
    <span class="mt-5 d-block" style="height: 15px; width: 100%; background-color: #d4edda;"></span>
    <div class="row mt-3">
        <h3>Mensajes</h3>
        <form>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Envia un Mensaje</label>
                <input type="text" id="disabledTextInput" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary rounded-5 bg-success border-success">Enviar</button>
        </form>

    </div>
    <div class="row mt-5">
        <h3>Comentarios</h3>
        <ul class="list-group list-group-flush list-group-item-action m-3">
            <div *ngFor="let comentario of comentarios">
                <div class="row align-items-start m-2">
                    <div class="col-auto">
                        <img src="../../assets/background.jpg" alt="..." width="40" height="40">
                    </div>
                    <div class="col">
                        <div class="row">
                            <p>{{comentario.nombre}}</p>
                        </div>
                        <div class="row">
                            <input class="form-control" type="text" value="{{comentario.textoComentario}}"
                                aria-label="readonly input example" readonly>
                        </div>
                        <p>{{comentario.fecha}}</p>
                    </div>
                </div>
            </div>
        </ul>
    </div>


</div>