::ng-deep .selectGroup.ng-select{
    width: 180px;
}

::ng-deep .selectGroup.ng-select.ng-select-single .ng-select-container {
    height: 58px;
    border-color: #4CAF50;
    background: #4CAF50;
    color: white;
    font-weight: 500;
    border-radius: 0px;
    
    border: 1px solid #ccc;
}

::ng-deep .selectGroup.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: white;
}

::ng-deep .selectGroup.ng-select .ng-clear-wrapper {
    color: white;
}

::ng-deep .selectGroup.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #ffffff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
}


.container-buttons-card {
    float: right;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.fa-heart {
  margin-left: 2px;
}

.container-buttons-card button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px #00000025;
    width: 100px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
  }
  
  #added-favorite {
    color: red;
    display: none;
  }
  
  #favorite-regular.active {
    background-color: red;
    display: none;
  }
  
  .active {
    display: flex;
    color: red;
  }