<div class="menu-campeonato">
    <ul>
        <li>
            <a href="#"><i class="fas fa-users icono"></i> Equipos</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-layer-group icono"></i> Grupos</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-tasks icono"></i> Fases</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-table icono"></i> Tabla</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-print icono"></i> Imprimir</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-image icono"></i> Imagen</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-search icono"></i> Criterios de clasificación</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-random icono"></i> Reordenar</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-link icono"></i> Html de incorporación</a>
        </li>
    </ul>
</div>
