:host {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-campeonato {
    background-color: #1E3A8A; /* Color de fondo */
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    text-align: left;
}

.menu-campeonato ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-campeonato li {
    margin: 10px 0;
}

.menu-campeonato a {
    color: white;
    text-decoration: none;
    font-size: 16px; /* Ajusta el tamaño del texto */
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px; /* Para que el efecto de sombra también tenga bordes redondeados */
    transition: background-color 0.3s, box-shadow 0.3s; /* Añade una transición suave */
}

.menu-campeonato a:hover {
    background-color: #2a4b9b; /* Un tono más claro del color de fondo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
    text-decoration: none;
}

.icono {
    margin-right: 10px;
    font-size: 20px; /* Ajusta el tamaño del icono si es necesario */
}
